<div id="news" class="content">
               <?php if(  1 )
			   		 	{
			    ?>
                	<span class="mst_dscrtp_ryt">
                    <span class="dscrtp_ryt_para">
                        <span class="mst_dscrtp_ryt_vdo">
                            <h4>Lorem ipsum dolor sit amet</h4>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                        </span>
                        <span class="dscrtp_ryt_vdo_ryt">
                            <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                        </span>
                    </span>
                    <span class="dscrtp_ryt_para">
                        <span class="mst_dscrtp_ryt_vdo">
                            <h4>Consectetur adipisicing elit, sed do eiusmod tempor</h4>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                        </span>
                        <span class="dscrtp_ryt_vdo_ryt">
                            <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                        </span>
                    </span>
                    <span class="dscrtp_ryt_para">
                        <span class="mst_dscrtp_ryt_vdo">
                            <h4>incididunt ut labore et dolore magna aliqua</h4>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                        </span>
                        <span class="dscrtp_ryt_vdo_ryt">
                            <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                        </span>
                    </span>
                    <span class="dscrtp_ryt_para">
                        <span class="mst_dscrtp_ryt_vdo">
                            <h4>Ut enim ad minim veniam, quis nostrud </h4>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                        </span>
                        <span class="dscrtp_ryt_vdo_ryt">
                            <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                        </span>
                    </span>
                    <span class="dscrtp_ryt_para">
                        <span class="mst_dscrtp_ryt_vdo">
                            <h4>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </h4>	
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                        </span>
                        <span class="dscrtp_ryt_vdo_ryt">
                            <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                        </span>
                    </span>
                    <span class="dscrtp_ryt_para">
                        <span class="mst_dscrtp_ryt_vdo">
                            <h4>Duis aute irure dolor</h4>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                        </span>
                        <span class="dscrtp_ryt_vdo_ryt">
                            <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                        </span>
                    </span>
                </span>
               <?php }?>
           </div>   
               
               
                <div id="description" class="content">
                   <?php if(  1 )
			   		 	{
			        ?>
                   	 	<span class="mst_dscrtp_ryt">
                        <span class="dscrtp_ryt_para">
                            <span class="mst_dscrtp_ryt_vdo">
                                <h4>Lorem ipsum dolor sit amet</h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="mst_dscrtp_ryt_vdo">
                                <h4>Consectetur adipisicing elit, sed do eiusmod tempor</h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="mst_dscrtp_ryt_vdo">
                                <h4>incididunt ut labore et dolore magna aliqua</h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="mst_dscrtp_ryt_vdo">
                                <h4>Ut enim ad minim veniam, quis nostrud </h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="mst_dscrtp_ryt_vdo">
                                <h4>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </h4>	
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="mst_dscrtp_ryt_vdo">
                                <h4>Duis aute irure dolor</h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                    </span>
                    
                    <?php }?>
                </div>
                <div id="usage" class="content">
                	
                    <?php if(  1 )
			   		 	{
			    	?>
                    <span class="ctgry_dscrtp_lft">
                        <ul>
                            <li class="plus"> <a class="clk_ctgry" href="javascript:void(0);">Internationalisation</a>
                            	<span class="ctgry_dscrp_itm">
                                	<ul> 
                                    	<li> <a>Internationalisation Awareness</a></li>
                                        <li> <a>Internationalisation Static Analysis</a></li>
                                        <li> <a>Internationalisng Java</a></li>
                                    </ul>
                                </span>
                            
                            </li>
                            <li class="plus"> <a class="clk_ctgry" href="javascript:void(0);">Localisation</a>
                            	<span class="ctgry_dscrp_itm">
                                	<ul> 
                                    	<li> <a>Internationalisation Awareness</a></li>
                                        <li> <a>Internationalisation Static Analysis</a></li>
                                        <li> <a>Internationalisng Java</a></li>
                                    </ul>
                                </span>
                            
                            </li>
                            <li class="plus"> <a class="clk_ctgry" href="javascript:void(0);">Translation</a>
                            	<span class="ctgry_dscrp_itm">
                                	<ul> 
                                    	<li> <a>Internationalisation Awareness</a></li>
                                        <li> <a>Internationalisation Static Analysis</a></li>
                                        <li> <a>Internationalisng Java</a></li>
                                    </ul>
                                </span>
                            
                            </li>
                            <li class="plus"> <a class="clk_ctgry" href="javascript:void(0);">Project Management</a>
                            	<span class="ctgry_dscrp_itm">
                                	<ul> 
                                    	<li> <a>Lorem ipsum dolor </a></li>
                                        <li> <a>Lorem ipsum dolor </a></li>
                                        <li> <a>Lorem ipsum dolor </a></li>
                                        <li> <a>Lorem ipsum dolor </a></li>
                                    </ul>
                                </span>
                            
                            </li>
                        </ul>
                    </span>
                    <span class="dscrtp_ryt">
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Lorem ipsum dolor sit amet</h4>	
                                <p>3 minutes 17 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Consectetur adipisicing elit, sed do eiusmod tempor</h4>	
                                <p>3 minutes 33 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>incididunt ut labore et dolore magna aliqua</h4>	
                                <p>3 minutes 45 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Ut enim ad minim veniam, quis nostrud </h4>	
                                <p>2 minutes 10 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </h4>	
                                <p>2 minutes 05 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                               <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Duis aute irure dolor</h4>	
                                <p>1 minutes 50 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                    </span>
                    
                    <?php } ?>
                </div>
                <div id="download" class="content">
                <?php if(  1 )
			   		 	{
			    ?>
                    <span class="athr_dscrtp_lft">
                        <ul>
                            <li> <a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                            <li> <a href="javascript:void(0);">Consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                            <li> <a href="javascript:void(0);">incididunt ut labore et dolore magna aliqua</a></li>
                            <li> <a href="javascript:void(0);">Ut enim ad minim veniam, quis nostrud </a></li>
                            <li> <a href="javascript:void(0);">exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</a></li>
                            <li> <a href="javascript:void(0);">Duis aute irure dolor</a></li>
                            <li> <a href="javascript:void(0);">In reprehenderit in voluptate </a></li>
                            <li> <a href="javascript:void(0);"> Velit esse cillum dolore eu </a></li>
                            <li> <a href="javascript:void(0);"> Fugiat nulla pariatur. </a></li>
                            <li> <a href="javascript:void(0);"> Proident, sunt in culpa qui </a></li>
                            <li> <a href="javascript:void(0);">In reprehenderit in voluptate </a></li>
                            <li> <a href="javascript:void(0);"> Velit esse cillum dolore eu </a></li>
                            <li> <a href="javascript:void(0);"> Fugiat nulla pariatur. </a></li>
                            <li> <a href="javascript:void(0);"> Proident, sunt in culpa qui </a></li>
                        </ul>
                    </span>
                    <span class="dscrtp_ryt">
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Lorem ipsum dolor sit amet</h4>	
                                <p>3 minutes 17 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Consectetur adipisicing elit, sed do eiusmod tempor</h4>	
                                <p>3 minutes 33 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>incididunt ut labore et dolore magna aliqua</h4>	
                                <p>3 minutes 45 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Ut enim ad minim veniam, quis nostrud </h4>	
                                <p>2 minutes 10 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </h4>	
                                <p>2 minutes 05 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="dscrtp_ryt_para">
                            <span class="dscrtp_ryt_vdo">
                                <h4>Duis aute irure dolor</h4>	
                                <p>1 minutes 50 seconds </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                    </span>
                    <?php }
			    	?>
                </div>
                <div id="alphabetical" class="alpha_content">
                    
                    <?php if(  1 )
			   		 	{
			    	?>
                    <span class="alpha_dscrtp_lft">
                        <ul>
                            <li> <a href="javascript:void(0);">A</a></li>
                            <li> <a href="javascript:void(0);">B</a></li>
                            <li> <a href="javascript:void(0);">C</a></li>
                            <li> <a href="javascript:void(0);">D</a></li>
                            <li> <a href="javascript:void(0);">E</a></li>
                            <li> <a href="javascript:void(0);">F</a></li>
                            <li> <a href="javascript:void(0);">G</a></li>
                            <li> <a href="javascript:void(0);"> H</a></li>
                            <li> <a href="javascript:void(0);"> I </a></li>
                            <li> <a href="javascript:void(0);"> J</a></li>
                            <li> <a href="javascript:void(0);">K</a></li>
                            <li> <a class="actv_l" href="javascript:void(0);"> L</a></li>
                            <li> <a href="javascript:void(0);"> M</a></li>
                            <li> <a href="javascript:void(0);"> N</a></li>
                             <li> <a href="javascript:void(0);">O</a></li>
                            <li> <a href="javascript:void(0);">P</a></li>
                            <li> <a href="javascript:void(0);">Q</a></li>
                            <li> <a href="javascript:void(0);">R</a></li>
                            <li> <a href="javascript:void(0);">S</a></li>
                            <li> <a href="javascript:void(0);">T</a></li>
                            <li> <a href="javascript:void(0);">U</a></li>
                            <li> <a href="javascript:void(0);"> V</a></li>
                            <li> <a href="javascript:void(0);"> W </a></li>
                            <li> <a href="javascript:void(0);"> X</a></li>
                            <li> <a href="javascript:void(0);">Y</a></li>
                            <li> <a href="javascript:void(0);"> Z</a></li>
                             <li> <a class="no_hvr_efct" href="javascript:void(0);"> Other</a></li>
                            
                        </ul>
                    </span>
                    <span class="alpha_dscrtp_ryt">
                        <span class="alpha_dscrtp_ryt_para">
                            <span class="alpha_dscrtp_ryt_vdo">
                                <h4>Lorem ipsum dolor sit amet</h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="alpha_dscrtp_ryt_para">
                            <span class="alpha_dscrtp_ryt_vdo">
                                <h4>Lorem Ipsum is simply dummy text</h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="alpha_dscrtp_ryt_para">
                            <span class="alpha_dscrtp_ryt_vdo">
                                <h4>Lorem Ipsum has been the industry's standard dummy text </h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="alpha_dscrtp_ryt_para">
                            <span class="alpha_dscrtp_ryt_vdo">
                                <h4>Lorem ipsum is a pseudo-Latin text used in web design </h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="alpha_dscrtp_ryt_para">
                            <span class="alpha_dscrtp_ryt_vdo">
                                <h4>Lorem Ipsum has been the industry's standard dummy text </h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                        <span class="alpha_dscrtp_ryt_para">
                            <span class="alpha_dscrtp_ryt_vdo">
                                <h4>Lorem Ipsum has been the industry's standard dummy text </h4>	
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                            </span>
                            <span class="dscrtp_ryt_vdo_ryt">
                                <img src="../img/front/training_pik_old.png" class="ctlg_lndng_vdo" />
                            </span>
                        </span>
                    </span>
                    
                    <?php } ?>
                </div>
                