
             <div class="col-lg-12">
                 <div class="modal-title">Contact Us</div>
                    
                    <div class="Title">Content authoring</div>
                    <span class="Link"><a href="javascript:;">Learn who to contact for content formatting</a></span>
                    <span class="Link"><a href="javascript:;">Learn who to settle disputes with reviewers</a></span>
                    <span class="Link"><a href="javascript:;">Learn who to settle disputes with reviewers</a></span>
                    <span class="Link"><a href="javascript:;">Discuss training proposals</a></span>
                    
                    <div class="Title">Membership and accounts</div>
                    <span class="Link"><a href="javascript:;">Find out more about being a memeber</a></span>
                    <span class="Link"><a href="javascript:;">Internal Link</a></span>
                    
                    <address>
                        <p><label>Company address</label><br>
                        Address Line 1<br>
                        Address Line 2</p>
                    </address>
                    
                </div>