<script type="text/javascript">

	<?php if(isset($limit) && !empty($notify)){ ?>			
	
			$("#limit").attr('class',<?php echo $limit; ?>);

	<?php	} else {  ?>
			
			$("#limit").attr('class','');
			
				
	<?php 	}	?>
	
</script>




<?php if(!empty($notify))
				{
					foreach($notify as $notification)
					{
						if($notification['Notification']['notification_type']=='like' && !empty($notification['CourseLesson']['id']))
						{	
							$name=$notification['Member']['final_name'];
							$type_text=__('like_your_lesson');
							$item_name=$notification['CourseLesson']['title'];
							
							//pr($n_text);die;
						}
						if($notification['Notification']['notification_type']=='like' && empty($notification['CourseLesson']['id']))
						{
							$name=$notification['Member']['final_name'];
							$type_text=__('liked_your_course');
							$item_name=$notification['Course']['title'];
						}
						if($notification['Notification']['notification_type']=='unlike' && !empty($notification['CourseLesson']['id']))
						{
							$name=$notification['Member']['final_name'];
							$type_text=__('unlike_your_lesson');
							$item_name=$notification['CourseLesson']['title'];
						}
						if($notification['Notification']['notification_type']=='unlike' && empty($notification['CourseLesson']['id']))
						{
							$name=$notification['Member']['final_name'];
							$type_text=__('unlike_your_course');
							$item_name=$notification['Course']['title'];
						}
						if($notification['Notification']['notification_type']=='course_purchased')
						{
							$name=$notification['Member']['final_name'];
							$type_text=__(' purchased your course ');
							$item_name=$notification['Course']['title'];
							
							
						}
						if($notification['Notification']['notification_type']=='lesson_purchased')
						{
							$name=$notification['Member']['final_name'];
							$type_text=__(' purchased your lesson ');
							$item_name=$notification['CourseLesson']['title'];
					
						}
						if($notification['Notification']['notification_type']=='become_author')
						{
							$name=__('You');
							$type_text=__(' become ');
							$item_name=__(' an Author ') ;
						}
						if($notification['Notification']['notification_type']=='become_member')
						{
							$name=__('You');
							$type_text=__(' become');
							$item_name=__('a Member.') ;
						}
						
					$post_date=date('d-m-Y',$notification['Notification']['date_added'])	;
					$today_date=date('d-m-Y');
					$post_ago=$today_date-$post_date;
										
					?>

				<div class="notifall_cont">
					<div class="notif_all">
						<div class="notif-inr">
						
							<span><?php echo $name ?><i><?php echo $type_text ?></i></span>
								<div class="post-brf">
									<label class="smal_text"><?php echo $item_name ?></label>
											
									<div class="post-period">Posted <?php echo $post_ago ?> day(s) ago</div>
								</div>
						</div>
					</div>
							
								
				</div>
				
				<?php } } ?>
				
				 
