<?php //echo $last_id;
//print_r($search_arr);
$ulogin=0;
						if($this->Session->read('LocTrain.id'))
						{
						$ulogin=1;
						}
?>

<script type="text/javascript">
	$('document').ready(function(){
		$('.subDisable').attr('disabled','disabled');
		//$('.subDisable').css('color','#3f3f3f !important');		
		});
	<?php if(!empty($search_arr)){ ?>
		$(".tchng_cont_content").attr('id','<?php echo $last_id;?>');
	<?php }else { ?>
		$(".tchng_cont_content").attr('id','0');
	<?php } ?>	
$(function () { $("[data-toggle='tooltip']").tooltip(); });
$('body').on('shown.bs.tooltip', function () {
  //changeTooltipColorTo('#fff','#000');
})
</script>
<?php foreach($search_arr as $search_arr) 
	{
		$video = ''; $extension=''; $image_w='';$less_image='';
		if(!empty($search_arr['CourseLesson'])){
			
			$videovar = $lessvar  = 0;
			foreach($search_arr['CourseLesson'] as $lesson){
				if($videovar == 1 && $lessvar == 1){
					break;
				}
				if($lesson['video'] != '' && $videovar == 0){
					$video = $lesson['video'];
									$extension = $lesson['extension'];
									$image_w = $lesson['image'];
					$videovar = 1;
				}
				if($lesson['image'] != '' && $lessvar == 0 ){                       
							$less_image=$lesson['image'];
							$lessvar = 1;
				}
			}
		}

	?>
<div class="video_sec video_sec2 video_sec3 wrapperSearchResults"  <?php if(isset($search_arr['item_type']) && $search_arr['item_type']=='News'){ ?> data-target="#news_<?php echo convert_uudecode(base64_decode($search_arr['id'])); ?>" data-toggle="modal" <?php } ?> id="<?php echo $search_arr['id'];?>" data-val="<?php echo convert_uudecode(base64_decode($search_arr['id'])); ?>" rel="<?php echo isset($search_arr['item_type'])?$search_arr['item_type']:'';?>">
    <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 VideoBoxLeft">
		<?php
			if($search_arr['type'] == '1' && $search_arr['link']['action']!='view_free_video')
			{
			
			?>
				<?php //echo $this->Html->image('front/training_pik_old.png',array('width'=>178,'height'=>119)); ?>
				<?php 
				
									 
									$image = $search_arr['Course']['image'];
									//$path = 'files/members/courses/'.$image;
				$path=$this->Utility->getAWSDisplayUrl(COURSES_BUCKET,$image);
									if(!empty($search_arr['Course']['image']) && $path)
									{
									echo $this->Html->link($this->Html->image($this->Utility->getAWSImgUrl(COURSES_BUCKET,'catalogue/'.$image),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive')),array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'course_link','escape'=>false));
									}else if(!empty($less_image) && $this->Utility->getAWSImgUrl(LESSON_BUCKET,'thumb/'.$less_image)){
					 echo $this->Html->image($this->Utility->getAWSImgUrl(LESSON_BUCKET,'catalogue/'.$less_image),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive'));
				}else if(!empty($image_w) && $this->Utility->getAWSDisplayUrl(LESSON_BUCKET,$image_w)){
					 echo $this->Html->image($this->Utility->getAWSImgUrl(LESSON_BUCKET,'catalogue/'.$image_w),array('style'=>'width:256px;height:144px','class'=>'img-responsive'));     
				}else{
									echo $this->Html->link($this->Html->image('front/no_thumbnail_'.$locale.'.png',array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive')),array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'course_link','escape'=>false));
									}
									
									
			}else if($search_arr['type'] == '1' && $search_arr['link']['action']=='view_free_video'){
					if($search_arr['own_video_url'] != '' && file_exists('files/admin_free_video/'.$search_arr['own_video_url'].'_catalogueThumb.png')) { 
						echo $this->Html->link($this->Html->image('/files/admin_free_video/'.$search_arr['own_video_url'].'_catalogueThumb.png',array('alt'=>$search_arr['own_video_url'],'width'=>'256','height'=>'144','style'=>'height: 144px;','class'=>'img-responsive')),array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'course_link','escape'=>false));
					}
					else if($search_arr['free_video_url']){ 
						$video = $search_arr['free_video_url'];
						$count = strlen($video)-11;
						$embed = substr($video,$count); 
					
						echo $this->Html->link($this->Html->image('http://img.youtube.com/vi/'.$embed.'/0.jpg',array('class'=>'img_prsty', 'width'=>'256','height'=>'144', 'alt'=>'','style'=>'height: 144px;','class'=>'img-responsive')),array('controller'=>'Home','action'=>'view_free_video',$search_arr['id']),array('style'=>'','escape'=>false));									
					}
					
			}else if($search_arr['type'] == '2'){ ?>
					<?php 
                                        $image = $search_arr['Course']['image'];
                                     

$path=$this->Utility->getAWSDisplayUrl(COURSES_BUCKET,$image);
                                        if(!empty($search_arr['Course']['image']) && $path)
                                        {
											echo $this->Html->link($this->Html->image($this->Utility->getAWSImgUrl(COURSES_BUCKET,'catalogue/'.$image),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive')),array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'course_link','escape'=>false));
                                        }else if(!empty($less_image) && $this->Utility->getAWSImgUrl(LESSON_BUCKET,'thumb/'.$less_image)){
											echo $this->Html->image($this->Utility->getAWSImgUrl(LESSON_BUCKET,'catalogue/'.$less_image),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive'));
										}else if(!empty($image_w) && $this->Utility->getAWSDisplayUrl(LESSON_BUCKET,$image_w)){
											 echo $this->Html->image($this->Utility->getAWSImgUrl(LESSON_BUCKET,'catalogue/'.$image_w),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive'));     
										}else{
											echo $this->Html->link($this->Html->image('front/no_thumbnail_'.$locale.'.png',array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','class'=>'img-responsive')),array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'course_link','escape'=>false));
                                        }	
			}else if($search_arr['type'] == '3') { ?>
				<?php 
					$info = new SplFileInfo($this->Utility->getAWSImgUrl(NEWS_BUCKET,'thumbnails/'.$search_arr['image']));
					$info1 = new SplFileInfo($this->Utility->getAWSImgUrl(NEWS_BUCKET,'original/'.$search_arr['image']));
					 if($search_arr['image'] != '' && $info->getExtension()) { ?>  <a><?php echo $this->Html->image($this->Utility->getAWSImgUrl(NEWS_BUCKET,'thumbnails/'.$search_arr['image']),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','alt'=>$search_arr['image'],'class'=>'img-responsive')); ?></a>
					<?php  } else if($search_arr['image'] != '' && $info1->getExtension()){ ?>
							<a><?php echo $this->Html->image($this->Utility->getAWSImgUrl(NEWS_BUCKET,'original/'.$search_arr['image']),array('width'=>'256','height'=>'144','style'=>'width:256px;height:144px','alt'=>$search_arr['image'],'class'=>'img-responsive')); ?></a>
					<?php  } else{ ?>                       
                            <a ><?php echo $this->Html->image('front/no_thumbnail_'.$locale.'.png',array('style'=>'width:256px;height:144px','class'=>'img-responsive')); ?></a>
                    <?php  } ?>
			<?php } ?>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-6 RatingBox">
			<?php if($search_arr['item_type'] == 'Course'){ ?>
	   <div id="searchLinksHeight">
			<?php } else { ?>
	   <div id="searchLinksHeight1">
			<?php } ?>
       <div class="OtherLink">
			<?php if($search_arr['type'] == '3'){ ?>
                 <a><?php echo __('view');?></a>
            <?php } else { ?>
                <?php echo $this->Html->link(__('view'),array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'','escape'=>false)); ?>
			<?php } ?>
       </div>  
       <?php if($search_arr['type'] == '1' && $search_arr['link']['action']!='view_free_video') { ?> 
            <div class="OtherLink">
                	<?php $apply = ($search_arr['apply'] == 1)?'added_learning_sub':'add_learning'; ?>           	 	
					<?php 
						if($search_arr['folder'] != $this->Session->read('LocTrain.id')){
								if(!empty($search_arr['CoursePurchaseList'])){
									$class = in_array($search_arr['CoursePurchaseList'][0]['type'],array('0','1','2'))?'added_learning_sub':'add_learning';
									
									$title=__('this_course_is_already_in_my_learning');							
									if($class=='add_learning'){
										$title=__('save_this_course_for_later');
										}
									
									echo  $this->Html->link(__('add_to_learning_plan'),'javascript:void(0);',array('class'=>$class,'title'=>$title,'rel'=>base64_encode(convert_uuencode($search_arr['Course']['id']))));
								}else{
									
									$title=__('this_course_is_already_in_my_learning');
									if($apply=='add_learning'){
										$title=__('save_this_course_for_later');
										}
									
									echo $this->Html->link(__('add_to_learning_plan'),'javascript:void(0);',array('class'=>$apply,'title'=>$title,'rel'=>base64_encode(convert_uuencode($search_arr['Course']['id']))));
								}
						}
						?>
         
               </div>   
				<?php if(!empty($search_arr['Subscription_course']))
							{
								
								$option="watch";
								$full_course=1;
							}
							else if(!empty($search_arr['Subscription_lesson']))
							{
								$full_course=0;
								$option="watch";
							}
							else
							{
								//$option="Preview";
								$option="watch";
								$full_course=0;
							}
					?>
					<div class="OtherLink">		
               
					<?php 
						
						 $m_id = $this->Session->read('LocTrain.id');
						$owner_id = base64_encode(convert_uuencode($search_arr['Course']['m_id']));
						$extension = $search_arr['extension'];
						 $video = isset($search_arr['video'])?$search_arr['video']:'';
						 $decoded_id = $search_arr['Course']['id'];	   
							$first_lesson=$this->Utility->getFirstLesson($decoded_id);
							$subscription = $this->Utility->getCoursesubscription($m_id,$decoded_id,@$first_lesson['CourseLesson']['id']);
						//	print_r($subscription);
							$subscribed=$this->Utility->getCoursesubscribed($m_id,$decoded_id);
						if($search_arr['Course']['price']==0.00 && $video !='')
						{ ?> 
							<?php if($extension!='swf' && $extension!='zip')
							{
								echo  $this->Html->link(__('watch'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four open_video','rel'=>'Watch'));	
							}else {
								
								echo $this->Html->link(__('watch'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$search_arr['Course']['title']),array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four1 open_video_search'));
							
							}						
						}
						
						else if((!empty($subscription) || $subscribed)&& $video !='')
						{
							if($extension!='swf' && $extension!='zip')
							{
								echo $this->Html->link(__(strtolower($option)),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four open_video lesson_'.$search_arr['Course']['id'],'rel'=>$option)); 
							}else {
								echo $this->Html->link(__(strtolower($option)),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$search_arr['Course']['title']),array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four1 open_video_search lesson_'.$search_arr['Course']['id']));
								/*if($option=="watch"){
								
									echo $this->Html->link(__('watch_now'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$search_arr['Course']['title']),array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four1 open_video_search'));
								}else{ 
									echo $this->Html->link(__('preview'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$search_arr['Course']['title']),array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four1 open_video_search'));
									
								}*/
							}						
						
							
						}else if($m_id == $search_arr['Course']['m_id']){
							if($extension!='swf' && $extension!='zip' && $video !='')
							{
								echo  $this->Html->link(__('watch'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four open_video lesson_'.$search_arr['Course']['id'],'rel'=>'Watch'));
							}else if($video !=''){
								//echo  $this->Html->link(__('watch'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four open_video','rel'=>'Watch'));
								echo $this->Html->link(__('watch'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$search_arr['Course']['title']),array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four1 open_video_search lesson_'.$search_arr['Course']['id']));
							}	
							}else
						{
							if($video !='' && $ulogin==0)
							{
								echo  $this->Html->link(__('watch'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four noSubcribe','rel'=>'Watch'));
							}else if($video !='' && $ulogin==1){
								
								echo  $this->Html->link(__('watch'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($search_arr['Course']['id'])),'class'=>'tc_four noSubcribe subDisable','style'=>'color:#3f3f3f !important;','rel'=>'Watch'));
							}						
						}
					?>
                    </div>
                    <?php 
					} elseif($search_arr['type'] == '2'){ ?>
						<?php $apply = ($search_arr['apply'] == 1)?'added_learning_dsbl':'add_learning'; ?>
						
						<?php 
							if($search_arr['folder'] != $this->Session->read('LocTrain.id')){
								$title=__('this_course_is_already_in_my_learning');
								if($apply=='add_learning'){
									$title=__('save_this_course_for_later');
								}
													
								echo ' <div class="OtherLink">'.$this->Html->link(__('add_to_learning_plan'),'javascript:void(0);',array('class'=>$apply,'title'=>$title,'rel'=>$search_arr['id'])).'</div>';
							} ?>
						<?php echo ' <div class="OtherLink">'. $this->Html->link(__('watch_now'),array('controller'=>'Home','action'=>'view_course_details',$search_arr['id']),array('id'=>'tc_three_ctlg')).'</div>';?>
                <?php } ?>
		</div>
        <div class="baseWrapper">
                                    
				<div class="row">		
					<?php  if(isset($search_arr['Course']['rating'])){?>
					
						<?php 
							   $m_id = $this->Session->read('LocTrain.id');
							   $decoded_id = $search_arr['Course']['id'];
															  

							   $is_rated = $this->Utility->getCourseRating($m_id,$decoded_id);
							   $rate=''; 
							   for($i=0;$i<count($is_rated);$i++)
							   {
									$rate+=$is_rated[$i]['CourseRating']['rating'];
							   }
							   $is_rated1=$rate/count($is_rated);
							   if(!empty($is_rated1))
							   {
								   if(count($is_rated)>1)
								   {
										$rating=(fmod($is_rated1,0.5)==0) ? $is_rated1 : round($is_rated1);
								   }
								   else
								   {
										$rating=$is_rated1;
								   }
								
							   }else{
									   $rating= 0;
							   }
							   
							   if($this->Session->read('LocTrain.id')){
									$login=1;
							   }
															   
														   
								$first_lesson=$this->Utility->getFirstLesson($decoded_id);
								$subscription = $this->Utility->getCoursesubscription($m_id,$decoded_id,@$first_lesson['CourseLesson']['id']);
								$subscribed=$this->Utility->getCoursesubscribed($m_id,$decoded_id);

							 ?>

								<div class="col-xs-6 Rating no-padding">
								<?php if($m_id != $search_arr['Course']['m_id'] && $login==1)  {?>
								   <?php if(!empty($subscription) || $subscribed || $search_arr['Course']['price']==0.00) { ?>

								   <input id="input-21a-<?php echo $search_arr['Course']['id'];?>" data-disabled="false" value="<?php echo $rating;?>" type="number" class="rating" min=0 max=5 step=0.5 data-size="xl" data-show-caption="false">
								   <?php    } else {?>
									<input id="input-21a-<?php echo $search_arr['Course']['id'];?>" data-disabled="true" value="<?php echo $rating;?>" type="number" class="rating" min=0 max=5 step=0.5 data-size="xl" data-show-caption="false">
									<?php } }else{?>
									<input id="input-21a-<?php echo $search_arr['Course']['id'];?>" data-disabled="true" value="<?php echo $rating;?>" type="number" class="rating" min=0 max=5 step=0.5 data-size="xl" data-show-caption="false">
									<?php } ?>
								</div>
				   
					<?php } ?>
					<?php if(isset($search_arr['Course']['price'])){?>
					<div class="col-xs-6 Price no-padding"><?php 

							if($search_arr['Course']['price']=='0.00'){ 
							$course_details=$this->Utility->getCourseLearningStatus($m_id,$decoded_id);
							$class = !empty($course_details['CoursePurchaseList'])?'c_added_learning_dsbl':'vw_scn_link bg_ad add_learning_sub';
							if($class != 'c_added_learning_dsbl'){
							echo __('free');
							}else{
							echo __('purchased');
							}

							}else{

							$cookie_courses=$this->Utility->getcookie_courses($m_id);
							$subscription_price= $this->Utility->getCoursesubscription_price($m_id,$decoded_id,$cookie_lessons);

							if($login==1 && ($subscription_price || $subscribed|| in_array($decoded_id,$cookie_courses) )){

							echo __('purchased');
							}else{
							echo $this->Utility->externlizePrice($language,$locale,$search_arr['Course']['price']);
							}
							}


							?>
					</div>
					<?php } ?>
					<div class="clearfix"></div>     
					<div class="col-xs-12 OtherLink no-padding"><?php echo isset($search_arr['item_type'])?$search_arr['item_type']:'';?></div> 
				</div>
				
		</div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
            <h2>                
                <?php if($search_arr['type'] == '1'){
 $title= $search_arr['title'];
$stripChars = ((strpos(trim($title),'search_highlight') >0)?'98':'60');
 $title=$this->Text->truncate($title,$stripChars,array('exact'=>false,'ellipsis'=>'...'));
 ?>
            	 	<?php echo $this->Html->link($title,array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'','escape'=>false)); ?>
				<?php }
				elseif($search_arr['type'] == '2'){
					$stripChars = ((strpos(trim($title),'search_highlight') >0)?'98':'60');
					$title=$this->Text->truncate($title,$stripChars,array('exact'=>false,'ellipsis'=>'...'));
					 ?>
                	<?php echo $this->Html->link($title,array('controller'=>$search_arr['link']['controller'],'action'=>$search_arr['link']['action'],$search_arr['id']),array('class'=>'','escape'=>false)); ?>
                <?php }elseif($search_arr['type'] == '3') {
				$stripChars = ((strpos(trim($search_arr['title']),'search_highlight') >0)?'98':'60');
				$title=$this->Text->truncate($search_arr['title'],$stripChars,array('exact'=>false,'ellipsis'=>'...'));
				?>
 <a ><?php echo $title;?></a>                  
                <?php }?>
                            
            </h2>
            <p id="section_desc" class="short_desc"> <?php echo $this->Text->truncate(strip_tags($search_arr['description']),'200',array('exact'=>false)); ?> </p>		 
		
        </div>
    </div>
</div>

<?php if(isset($search_arr['item_type']) && $search_arr['item_type']=='News'){ ?>
<div class="modal fade recent_news newsLandingPopup newsPopupWidth" id="news_<?php echo convert_uudecode(base64_decode($search_arr['id'])); ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <?php   
$date_news=$this->Timezone->dateFormatAccoringLocaleLangNew($this->Session->read('Config.language'),$search_arr['date_added']);    
                    $date_month=$this->Timezone->dateFormatAccoringLocaleLangNewsMonth($this->Session->read('Config.language'),$search_arr['date_added']);
                    $date_day=date('d',$search_arr['date_added']);
                    ?>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                     <div class="date_month"  data-toggle="tooltip" data-placement="top" title="<?php echo $date_news;?>">                    
                                        <div class="date"> <?php echo $date_day; ?></div><?php echo $date_month ?> </div>
                                    <h4 class="modal-title" id="myModalLabel">                                       
                                        <?php echo $link_text = strip_tags($search_arr['title']); ?></h4>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="embed-responsive embed-responsive-16by9 pull-left NewsArticleImg searchNewsImg">
                                                        <?php   if($search_arr['image'])
                                        {
                                        $image = $search_arr['image'];
                                        $path = 'img/news/original/'.$image;
                                        $info1 = new SplFileInfo($this->Utility->getAWSImgUrl(NEWS_BUCKET,'original/'.$search_arr['image']));
					 if($search_arr['image'] != '' && $info1->getExtension()) { 
                       
                     
                                            echo $this->Html->image($this->Utility->getAWSImgUrl(NEWS_BUCKET,'thumbnails/'.$search_arr['image']),array('width'=>'262','height'=>'138', 'class'=>'img-responsive'));
                                        }else{
                                        echo $this->Html->image('front/no_thumbnail_'.$locale.'.png',array('width'=>'262','height'=>'138', 'class'=>'img-responsive'));
                                        }
                                        }else{
					echo $this->Html->image('front/no_thumbnail_'.$locale.'.png',array('width'=>'262','height'=>'138', 'class'=>'img-responsive'));
                                        }
                                                         ?>
                                                </div>
                                           
                                             <div class="Title"> <?php

echo $search_arr['sub_title'];
?></div>
                                              <p> <?php echo strip_tags($search_arr['description']);?></p>
                                        </div>
                                        </div>
                                    
                                    <div>
                                       
                                       
                                    </div>
                                    
                                </div>                            
                            </div>
                        </div>
</div>
<?php } } ?>

<?php 
   /* Rating Script [Start] */
        echo $this->Html->script('front/star-rating.js');    
?>
<script>
    jQuery(document).ready(function () {
        $(".rating").rating({
            starCaptions: function(val) {
                if (val < 3) {
                    return val;
                } else {
                    return 'high';
                }
            },
            starCaptionClasses: function(val) {
                if (val < 3) {
                    return 'label label-danger';
                } else {
                    return 'label label-success';
                }
            }
        });
            $('.rating').on('rating.change', function(event, value, caption) {
                var attr_id=$(this).attr('id');
                var arr = attr_id.split('input-21a-');
                var id =arr[1];
                var rating=value;
                 $.ajax({
                           url: ajax_url+"Home/update_rating",
                           type: "POST",
                           data: {course_id : id, rating: rating},
                           dataType: "html",
                           success :function(){                               
  				// $('.to_rating_'+id).text(rating);
                           }
                     }); 
//                console.log(id);
//                console.log(value);
//                console.log(caption);
                });
    });
</script>
