
<style>
	.hastable tbody th
	{
		padding:10px;
	}
	.hastable tr td
	{
		text-align:left;
	}	
</style>


<div id="sub-nav">
	<div class="page-title">
		<h1>View Member Details</h1>
	</div>
</div>
<div id="page-layout">
	<div id="page-content">
		<div id="page-content-wrapper" class="no-bg-image wrapper-full">
			<div class="inner-page-title">
				<h2 style="width:90%; ">Member Information</h2>
				<a style="margin-top:-10px;" class="ui-state-default ui-corner-all float-right ui-button" href="javascript:void(0);" onclick="history.go(-1);">Back</a>
				<span></span>
			</div>
			
			<div class="content-box content-box-header" style="border:none;">
			<div class="hastable">			
                   			<table id="sort-table"> 
                            <tbody>
                            	<tr>							
                                    <th width="10%;">Member Name</th> 
                                    <td width="30%;"><?php echo $info['Member']['final_name'] ?></td> 
                                </tr>
                                <?php $t_id=base64_encode(convert_uuencode($info['Member']['id'])); ?>
                                 <tr>
                                    <th>Member E-mail</th>
                                    <td>
									<?php echo $info['Member']['email'];?></td>                                
                                  </tr> 
								  <tr>
                                    <th>Member Given Name</th>
                                    <td>
									<?php echo $info['Member']['given_name'];?></td>                                
                                  </tr>
								  <tr>
                                    <th>Member Family Name</th>
                                    <td>
									<?php echo $info['Member']['family_name'];?></td>                                
                                  </tr>
								  <tr>
                                    <th>Member Other Name</th>
                                    <td>
									<?php echo $info['Member']['other_name'];?></td>                                
                                  </tr>
								   <tr>
                                    <th>Member Account Number</th>
                                    <td>
									<?php echo $info['Member']['mem_acc_no'];?></td>                                
                                  </tr>
								  <tr>
                                    <th>Member Interest</th>
                                    <td>
									
									<?php $i=1; foreach($intrest as $intrest)
									{
									
									  echo $i." ) ". $intrest['MemberKeyword']['keyword']; echo "<br/>";
									  $i++;
									}
									?>
									</td>                                
                                  </tr>
                            	<tr>							
                                    <th width="10%;">Date Added</th> 
                                    <td width="30%;"><?php echo  date('d M Y, h:i e',$info['Member']['date_added']); ?> </td> 
                                    
                                </tr> 
								<tr>							
                                    <th width="10%;">Status</th> 
                                    <td width="30%;"><?php if($info['Member']['status']==0){echo "Inactive";}else{echo "Active";} ;?></td> 
                                </tr>
								
                            </tbody>
						</table>
					<div class="clear"></div>
				</div>
					
					<?php /*?><ul class="sidebar-position">
						<li class="float-left" style="margin-top:20px;"> <a title="Left Sidebar" id="sidebar-left" href="javascript:void(0);" class="btn ui-state-default ui-corner-all"> <span class="ui-icon ui-icon ui-icon-arrowthick-1-w"></span> Left Sidebar </a> </li>
						<li class="float-right"  style="margin-top:20px;"> <a title="Right Sidebar" id="sidebar-right" href="javascript:void(0);" class="btn ui-state-default ui-corner-all"> <span class="ui-icon ui-icon ui-icon-arrowthick-1-e"></span> Right Sidebar </a> </li>
					</ul><?php */?>
					
			</div>
			<div class="clearfix"></div>
			<!--<div id="sidebar">
				<?php //echo $this->element('adminElements/left_right_bar');?>
			</div> -->
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div> 