<style>
form li span {
	width:100%;
}
tr.mceLast {
	display:none;
}
.ui-widget-content {
	float:left;
	width:95%;
}
</style>


  <main id="main-container">
                <!-- Page Header -->
               <div class="content bg-image overflow-hidden" style="background-image: url('<?php echo HTTP_ROOT; ?>img/admin_new_theme/photos/photo3@2x.jpg'); ?>');">
                    <div class="push-50-t push-15">
                        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
                        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Stats -->
                <div class="content  border-b">
                        <div class="push-100-t">
<div class="text-center" style="height:500px;padding-top:10%;">
                            <h1>Welcome to the Kuulum Admin Interface</h1>
</div>

                         </div>   
                            </div>
                            <!-- END Content Grid -->
                     
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->
