<script type="text/javascript">
	
	$(document).ready(function() {
	
	//	$('#tabs, #tabs2, #tabs5').tabs();

		//$('#Defaultcommission1').validate();
		
		$('.lang_tab').click(function(){ 
			
			$lang = $(this).attr('rel');
			
			$('#lang_locale').val($lang);
		});
	});
</script>
<div id="main-container" >
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div id="sub-nav">
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                            Default commission rate <br><small>Enter the default commission rate in percent (0%-100%)</small>
                            </h1>
                        </div>

        </div>
    </div>
</div>

<div id="content" class="content">

    
	<div class="block">

		<div class="block-content">


		<div id="page-content-wrapper" class="no-bg-image wrapper-full"> 


          
                   
<!--<div id="sub-nav">
  <div class="page-title">
    <h1>Add Category</h1>
  </div>
</div>
<div id="page-layout">
  <div id="page-content">
    <div id="page-content-wrapper" class="no-bg-image wrapper-full">
      <div class="inner-page-title"> 
        <h2>Add Category</h2>
        <a onclick="history.go(-1);" href="javascript:void(0);" class="ui-state-default ui-corner-all float-right ui-button" style="margin-top:-10px;">Back</a> <span></span> </div> -->
      <?php if($this->Session->check('success')){ ?>
      <div class="success ui-corner-all successdeveloperClass" id="success"> <span class='successMessageText'> <?php echo $this->Session->read('success');?> </span> </div>
      <?php $this->Session->delete('success'); ?>
      <?php } ?>
      <!--<div class="content-box content-box-header" style="border:none;">
		
		<div id="tabs"> 
			<ul>
				<?php $i=1; foreach($language as $lang){  ?>
					<li><a class="lang_tab" rel="<?php echo $lang['Language']['locale']; ?>"  href="#tabs-<?php echo $i; ?>"><?php echo $lang['Language']['language']; ?></a></li>
				<?php $i++; } ?>	
			</ul>  
	  
        <div class="column-content-box">
          
          <div class="content-box-wrapper">-->
   <?php echo $this->Form->create('Defaultcommission',array('class'=>'js-validation-bootstrap form-horizontal editTemplateForm', 'id'=>'Defaultcommission','url'=>array('controller'=>'users','action'=>'add_default_commission'),'onsubmit'=>'return checkcommission()')); ?>
			
			
					
			 
                <div class="form-group">
                <label for="val-username" class="col-md-2 control-label"> Default Commission:</label>
                <div class="col-md-2">
					<?php
 $defaultcomm=isset($defaultcom) ? $defaultcom : '' ;
					 echo $this->Form->input('Defaultcommission.commission',array('type'=>'text','value'=>$defaultcom,'id'=>'defaultcommission1','div'=>false,'label'=>false,'class'=>'form-control field text full required')); ?>
<div class="error-defcommission"></div>
						</div></div>
					 
					  <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
<!--<?php echo $this->Form->submit('Submit'); ?> -->
						<input class="btn btn-sm btn-primary" type="submit" value="Submit" />
					
					   </div> </div>
					
		
           <?php echo $this->form->end(); ?>
          </div>
        </div>
		</div>
     
    </div>


<div class="clear"></div>