
<?php 
	//require_once('file-feeder.php');
	echo  $this->Html->script('/jwplayer/jwplayer.js'); 
?>
<div id="container">Loading the player ...</div>
<script type="text/javascript">

	jwplayer('container').setup({
		file:ajax_url+"app/webroot/files/admin_free_video/1385536629-File1.mp4",
		//file:ajax_url+"app/view/home/block_video.xml",
		width: '500',
		height: '300',
  //  playlistfile: ajax_url+"app/home/block_video.xml",
	});

</script>
