<?php if(!empty($new['CourseLesson'])) {
	//pr($new); die;?>
	<?php echo $this->Html->script('jquery-1.8.1.min');?>
    <?php echo $this->Html->script('front/front');?>
    <?php echo $this->Html->script('/jwplayer/jwplayer');?>
    <script type="text/javascript">jwplayer.key="NCsSCSxmmK/Kp06tPL4+X17g7+t8VkvEPG9v6g==";</script>
    
    <script type="text/javascript" id="erasable" >
        $(document).ready(function(){
		//alert('catalogue video');
			var getId = $(".aa").attr('id');
			$.ajax({
				
				url:ajax_url+'Home/catalogue_video/'+getId,
				success:function(html){
					
					
					
					
					
					$(".aa").html(html);
					 // console.log(window.console);
					 // if(window.console || window.console.firebug) {
					 //  console.clear();
					  }
				});
			});
    </script>
 
    <div class="aa" id="<?php echo $id;?>">
    </div>
    
 <?php } else { 
 //pr($new);
  echo  __("no_lesson_added_yet");	
  } ?>
  
  <style type="text/css">
 *
 {
	 margin:0;
	 padding:0;
 }
.aa
 {
	 width:100% !important;
	 height:100%!important;
	 
 }
 #render_video_wrapper, #render_video
 {
	  width:100% !important;
	 height:100%!important;
 }
</style>
