<!-- main container section -->

    <section>
		<div class="container InnerContent CMS_Common_Pages">
        	<div class="row">
            	<div class="col-lg-12">
                	<h4 class="modal-title"><?php echo $cookie_policy['CmsPage']['page_title']; ?></h4>
                   <?php echo $cookie_policy['CmsPage']['description']; ?>
                                        
                </div>
            </div>
            
           
        </div>    
    </section>

<!--End  main container section -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.return_to').on('click',function(){
			$('body,html').animate({
					scrollTop: 0
				}, 500);
				return false;
		})
	});

function PrintDiv()
 {
	 window.open('<?php echo HTTP_ROOT?>Home/print_content/<?php echo base64_encode(convert_uuencode($cookie_policy['CmsPage']['id'])); ?>', '_blank', 'width=700,height=700');
 }   

	
</script>
