
<?php $locale = $this->Session->read('LocTrain.locale'); ?>
<?php if($locale == 'ar')
{ ?>
<style type="text/css">
.col-main {
    float: right;
    padding: 22px 358px 10px 0;
    position: inherit;
    width: auto;
}

.errorImg {
    float: left;
    margin-left: 10px;
    margin-top: -50px;
}
.log
{
margin-right: 349px;

}
</style>
 <?php } else { ?>

 <style type="text/css"> 
.col-main 
{
	width: 430px;
	float:left;
    padding: 15px 15px 0;
    position: relative;
    
}

.errorImg
{
	margin-top:-45px;
	float:left;
}
</style> 
<?php } ?>

<style type="text/css"> 
.page-title
{
    overflow: hidden;
    padding: 7px 15px;
    width: 100%;
}
.page-title h1  
{
    text-shadow: 0 1px #FFFFFF;
}
.page-title h1, .page-title h2
 {
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.25;
    padding: 3px 0;
}
.std dl dt 
{
    font-weight: bold;
}
.std dl dd 
{
    margin: 0 0 10px;
}
.std ul.disc 
{
    list-style: disc outside none;
    padding-left: 18px;
}
.std ul.disc 
{
    margin: 0 0 10px;
}
.errorImg
{
	margin-top:-45px;
	float:left;
}

</style>
<div id="wrapper"> 
  <div id="middle">
	<div style="float: left; width: 916px; height:350px; margin: 60px 140px;  -moz-border-radius: 5px 5px 5px 5px; padding: 20px; background-color: #FFFFFF;">
	<div class="log">
		<h3 style="width:250px;"><?php echo $this->Html->link($this->Html->image(__('front/logo.png',true)),array('controller'=>'Home','action'=>'index'),array('escape'=>false));?></h3>
	</div>	
		<div class="col-main" >
			<div class="std">
				<dl>
				<dt><?php echo __('the_requested_page_was_not_found_we_have_been_notified_and_will_rectify_it_as_soon_as_possible');?></dt>
					<dd>
						<ul class="disc">
							<li><?php echo __('the_entered_address_was_not_recognized_please_check_it_and_try_again');?></li>
							<li><?php echo __('if_you_ended_up_here_after_selecting_a_link_it_may_be_out_of_date');?></li>
						</ul>
					</dd>
				</dl>
			</div>  
		</div>
		<div class="errorImg">
			<?php echo $this->Html->image('front/serverError!.png',array('width'=>'250','height'=>'195'));?>
		</div>
	</div>
	


   
</div>
</div>