<?php echo '';?>
<!-- main container section -->

    <section>
		<div class="container InnerContent CMS_Common_Pages">
        	<div class="row">
            	<div class="col-lg-12">
                	<h4 class="modal-title"><?php echo $help['CmsPage']['page_title']; ?> </h4>
                   <?php echo $help['CmsPage']['description']; ?>
                                        
                </div>
            </div>
            
           <!-- <div class="row">
                <div class="col-xs-6 Wrapper_Return_To">
                    <a href="javascript:void(0);" class="return_to">Return to top</a>                    
                </div>
                <div class="col-xs-6 Wrapper_Addthis">
	      
						<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
						<a class="addthis_button_email eml_bg"></a>						
						<a style="margin-left:10px;" class="addthis_button_print print_bg"></a>
						<a style="margin-left:10px;" class="addthis_button_compact share_bg"></a> 
						
						 </div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51e508fe2ccf7da5"></script>
						
                                </div>
            </div>-->
              <?php /* echo $this->element('frontElements/home/contact_us');*/?>
        </div>    
      
    </section>

<!--End  main container section -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.return_to').on('click',function(){
			$('body,html').animate({
					scrollTop: 0
				}, 500);
				return false;
		})
	});

	
</script>
