<?php 
/*
App::import('Component', 'Aws');
$this->Aws = new AwsComponent();
$this->Aws->uploadDirectory(LESSON_VIDEOS_BUCKET);
		exit;*/
$videoCdnURL = $this->Utility->bucketsCloudFront(LESSON_VIDEOS_BUCKET);
if($ext=='swf') { 
       $file = "https://".$videoCdnURL."/".$member_id.'/'.$video.'.'.$ext; 
?>

      
<?php } else {
	 	
		$indexfile="https://".$videoCdnURL."/".$member_id.'/'.$video.'/video.html';
		//$indexfile= 'https://dev-kuulum-lessons.s3.amazonaws.com/808/NonResponsivePassoloFundamentals_1428161062/video.html';
		$infoindex = new SplFileInfo($indexfile);
			$indexextension=$infoindex->getExtension();
			
			if(!empty($indexextension))
			{
			$file=$indexfile;	
			}
			else
			{
						App::import('Component', 'Aws');
			$this->Aws = new AwsComponent();
			$prefix=$member_id.'/'.$video.'/';
			$s3Files = $this->Aws->listObjects(LESSON_VIDEOS_BUCKET,$prefix);			
			//$this->Aws->listObjects(LESSON_VIDEOS_BUCKET,"2/dr_1393936281");
			$file2 = array();
			foreach($s3Files as $file1){
				$fileParts = explode('.',$file1);//print_r($fileParts);
				 $extension=$fileParts[1];
				/*$info = new SplFileInfo($fileParts[2]);
				$extension=$info->getExtension();
					if(empty($extension) && !empty($fileParts[2]) && $extension=='html')
					{
					$file2[]=$fileParts[2];
					}*/
					if(!empty($extension) && !empty($fileParts[1]) && $extension=='html')
					{
					$file2[]=str_replace($prefix,'',$file1);
					}
				}
				
				if(!empty($file2)){
					foreach($file2 as $f){
						if($f !='video.html' && $file!='goodbye.html'){
							$new_f=$f;
						}
						}
				}else{
												$new_f='video.html';
					}

				$file = "https://".$videoCdnURL."/".$member_id.'/'.$video."/".$new_f;
		}
	}
	
?>

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" id="testViewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0,user-scalable=no" />

<title><?php echo $title_for_layout; ?></title>
 <?php /*echo $this->Html->script('front/jquery-1.11.1.min.js');*/ ?>
<style type="text/css">
:-webkit-full-screen #mediaframe{
	width:100%;
	height:100%;
}
iframe{width:100%;
	height:100%;}
.viewnormal{
	position:fixed; 
	top:50px; 
	left:0px; 
	bottom:0px; 
	right:0px; 
	width:100%; 
	height:100%; 
	border:none; 
	margin:0; 
	padding:0; 
	overflow:hidden; 
}
.viewfullscreen{
	position:fixed; 
	top:0px; 
	left:0px; 
	bottom:0px; 
	right:0px; 
	width:100%; 
	height:100%; 
	border:none; 
	margin:0; 
	padding:0; 
	overflow:hidden; 
	z-index:9999998;
}
.buttonview{
	position:fixed; 
	top:10px;
	right:10px;
	height:32px;
	width:32px;
	background-color:#FFF;
	z-index:9999999;
}
.buttonsource{
	position:fixed; 
	top:10px;
	right:10px;
	height:32px;
	width:32px;
	background-color:#FFF;
	z-index:9999999;
}
.buttonback{
	position:fixed; 
	top:10px;
	left:10px;
	height:32px;
	width:32px;
	background-color:#FFFFFF;
	z-index:9999999;
}

</style>

<script language="javascript"> 

<?php  $referer = $_SERVER['HTTP_REFERER'];
if(!empty($referer) && strpos($referer,'/yes') !== false ){
  $last=strripos($referer,'/');
$next_to_last = strripos(substr($referer, 0,$last), '/');
$link=substr($referer, 0,$next_to_last); ?>
(function(window, location) {
	history.replaceState(null, document.title, location.pathname+"#!/stealingyourhistory");
	history.pushState(null, document.title, location.pathname);

	window.addEventListener("popstate", function() {
	  if(location.hash === "#!/stealingyourhistory") {
		history.replaceState(null, document.title, location.pathname);
		setTimeout(function(){
		  location.replace("<?php echo $link;?>");
		},0);
	  }
	}, false);
}(window, location));
<?php } ?>

	var swfIsVisible=true;

	/*
	 * Enter or exit the fullscreen mode provided by the browser
	 * After setting the appropriate fullscreen mode in the DOM, 
	 * adjust the style of the iframe, and toggle the image source. 
	 */
	function toggleView() {
		var e=document.getElementById('mediaframe');
		var b=document.getElementById('toggleViewButton');
	//alert(e.getAttribute("class"));
	
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
			var mvp = document.getElementById('testViewport');
			if(b.getAttribute("src") =="<?php echo HTTP_ROOT.'img/restore-32-grey-1.png'; ?>"){
				e.className='viewnormal';
				b.src = "<?php echo HTTP_ROOT.'img/fullscreen-32-grey-1.png'; ?>";			
			}else{
				b.src = "<?php echo HTTP_ROOT.'img/restore-32-grey-1.png'; ?>";
				e.className='viewfullscreen';				
				//e.webkitEnterFullscreen;
			}
		}else{
			
		if (!document.fullscreenElement && !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) { 
			if (document.documentElement.requestFullscreen) {
				document.documentElement.requestFullscreen();
			} else if (document.documentElement.msRequestFullscreen) {
				document.documentElement.msRequestFullscreen();
			} else if (document.documentElement.mozRequestFullScreen) {
				document.documentElement.mozRequestFullScreen();
			} else if (document.documentElement.webkitRequestFullscreen) {
				document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
			}

			e.className='viewfullscreen';
			b.src = "<?php echo HTTP_ROOT.'img/restore-32-grey-1.png'; ?>";
		
			
		} else {
			if (document.exitFullscreen) {
				document.exitFullscreen();
			} else if (document.msExitFullscreen) {
				document.msExitFullscreen();
			} else if (document.mozCancelFullScreen) {
				document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
				document.webkitExitFullscreen();
			}
			e.className='viewnormal';
			b.src = "<?php echo HTTP_ROOT.'img/fullscreen-32-grey-1.png'; ?>";
			
			
		}
		}




	}


if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
(function(w, s, d) {
  var timer;
	 function readDeviceOrientation() {  
			var mvp = document.getElementById('testViewport');
		              		
		    if (Math.abs(window.orientation) === 90) {//alert( "LANDSCAPE");

			// Landscape
				mvp.setAttribute('content','minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0,user-scalable=no'); 
			//document.getElementById("orientation").innerHTML = "LANDSCAPE";
		    } else {//alert( "PORTRAIT");
		    	// Portrait

			mvp.setAttribute('content','minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0,user-scalable=no'); 
		    	//document.getElementById("orientation").innerHTML = "PORTRAIT";
		    }
		}
	window.onorientationchange = readDeviceOrientation;
function bridge() {
    // Clear as window resize fires.
    clearInterval(timer);
    timer = setInterval(readDeviceOrientation, 100);
  }
  if (w.addEventListener) {
    w.addEventListener('resize', bridge, false);
  }
  else if (w.attachEvent) {
    w.attachEvent('onresize', bridge);
  }
  else {
    w.onresize = bridge;
  }
})(this, this.screen, this.document);
}
</script>

</head>
<body>

 
 <?php 
if (strpos($a,'are') !== false) {
    echo 'true';
}
 $referer = $_SERVER['HTTP_REFERER'];
if(!empty($referer) && strpos($referer,'/yes') !== false ){
  $last=strripos($referer,'/');
$next_to_last = strripos(substr($referer, 0,$last), '/');
$link=substr($referer, 0,$next_to_last); 
echo '<a href="'.$link.'">'.$this->Html->image('back-32-grey-1.png',array('id'=>'toggleSourceButton','class'=>'buttonback')).'</a>';}else{
echo $this->Html->image('back-32-grey-1.png',array('id'=>'toggleSourceButton','class'=>'buttonback','onclick'=>'window.history.go(-1)'));}
?>
  <?php echo $this->Html->image('fullscreen-32-grey-1.png',array('id'=>'toggleViewButton','class'=>'buttonsource','onclick'=>'toggleView()'));?>

<!--<img id="toggleViewButton" src="img/fullscreen.png" class="buttonview" onclick="toggleView()">
<img id="toggleSourceButton" src="<?php echo HTTP_ROOT.'webroot/img/Button-Back-icon.png;'?>" class='buttonsource' onclick="go.history(-1)">
Create an iframe and start off with a SWF source -->
<?php if($ext=='swf') { ?>
<iframe id="mediaframe"
        class="viewnormal" 
        frameborder="0" 
        scrolling="no" 
        marginheight="0" 
        marginwidth="0" 
        width="100"
        height="80"
        src="<?php echo $file; ?>">
        Your browser doesn't support iframes.
</iframe>

<?php } else {?>
<iframe id="mediaframe"
        class="viewnormal" 
        frameborder="0" 
        scrolling="no" 
        marginheight="0" 
        marginwidth="0" 
        allowfullscreen webkitallowfullscreen mozallowfullscreen
        width="100"
        height="80"
        src="<?php echo $file; ?>">
        Your browser doesn't support iframes.
</iframe>
<?php } ?>
</body>
</html>




