<script type="text/javascript">
$(document).ready(function(){
window.print()
});
</script>
<div class="cms_cont" style="margin-left: 20px;">
   <div class="cms_head">
       <h2 id="top"><?php echo $content['CmsPage']['title']; ?> </h2>
          </div>
			<?php echo $content['CmsPage']['description']; ?>
            <div class="cms_bottom">
             <div class="cms_return"><a href="javascript:void(0);" class="return_to">Return to top</a></div>
                <div class="cms_page_actions">
                	<div class="page_actions">
                    	<a href="javascript:void(0);" onclick="window.print()"><img src="<?php echo HTTP_ROOT?>/img/front/print.png" /></a>
                    </div>
               </div>
    </div>
</div>
