<script type="text/javascript">
	function PrintDiv()
	{   
	  window.open('<?php echo HTTP_ROOT?>Home/print_content/<?php echo base64_encode(convert_uuencode($about_us['CmsPage']['id'])); ?>', '_blank', 'width=700,height=700 scrollbars=1');
	}
</script>


<div id="wrapper"> 
  <div id="middle">    
    <div class="breadcrumb_botcont">
      <?php echo $this->Form->create('Member',array('id'=>'memberRegister','div'=>false,'method'=>'post','url'=>array('controller'=>'Home','action'=>'register')));?>
          <div class="cms_cont">
          	<div class="cms_head">
            	<h2 id="top"><?php echo $contact_us['CmsPage']['page_title']; ?> </h2>
            </div>
			<?php echo $contact_us['CmsPage']['description']; ?>
            <div class="cms_bottom">
            	<div class="cms_return"><a href="javascript:void(0);" class="return_to">Return to top</a></div>
                <div class="cms_page_actions">
                	<div class="page_actions">
                    	 <!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
						<a class="addthis_button_email eml_bg"></a>						
						<a style="margin-left:10px;" class="addthis_button_print print_bg"></a>
						<a style="margin-left:10px;" class="addthis_button_compact share_bg"></a>
						<!--<a class="addthis_button_preferred_2"></a><a class="addthis_button_preferred_3"></a>-->
						<!--<a class="addthis_counter addthis_bubble_style"></a>-->
						</div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51e508fe2ccf7da5"></script>
						<!-- AddThis Button END -->
                    </div>
                </div>
            </div>
          </div>
         <?php /* <div class="formfld_rgt">
            <div class="section_guide"> <span class="guide_upper"> <?php echo __('In this section');?>:</span>
              <h2 class="guide_head"><?php echo $this->Html->link(__('About us'),array('controller'=>'Home','action'=>'about_us'),array('class'=>'course_link'));?> </h2>
				<h2 class="guide_head border-top">  <?php echo $this->Html->link(__('How to contact us'),array('controller'=>'Home','action'=>'contact_us'),array('class'=>'course_link'));?> </h2>
				 <h2 class="guide_head border-top"> <?php echo $this->Html->link(__('Settle review disputes'),array('controller'=>'Home','action'=>'settle_disputes'),array('class'=>'course_link'));?> </h2>
			  
				
              <div class="guide_bot"> <span class="option"> <?php echo __('External links');?>: </span>
              	<div class="section_links">
					<?php echo $this->Html->link(__('Internal link'),'javascript:void(0)',array('class'=>'uc_link')); ?>
                </div>
                <div class="section_links">
                	<?php echo $this->Html->link(__('Contact Us'),'#about-us-window',array('class'=>'uc_link login-window')); ?>                   
                </div>
              </div>
              
              <div class="guide_bot"> <span class="option"> <?php echo __('More information');?>: </span>
              	<div class="section_links">
					<?php echo $this->Html->link(__('External link'),'javascript:void(0)',array('class'=>'uc_link')); ?>
                </div>              
              </div>
              <h2 class="guide_head"> <?php echo $this->Html->link(__('Terms of use'),array('controller'=>'Home','action'=>'terms_of_use'),array('class'=>'course_link'));?> </h2>
              <h2 class="guide_head border-top"> <?php echo $this->Html->link(__('Cookie Policy'),array('controller'=>'Home','action'=>'cookie_policy'),array('class'=>'course_link'));?> </h2>
              <h2 class="guide_head border-top">  <?php echo $this->Html->link(__('Privacy Policy'),array('controller'=>'Home','action'=>'privacy_policy'),array('class'=>'course_link'));?> </h2>
			   <h2 class="guide_head border-top"> <?php echo $this->Html->link(__('Discuss a training proposal'),array('controller'=>'Home','action'=>'training_proposal'),array('class'=>'course_link'));?> </h2>
			  <h2 class="guide_head border-top"> <?php echo $this->Html->link(__('Training style guide'),array('controller'=>'Home','action'=>'training_style'),array('class'=>'course_link'));?> </h2>
            </div>
          </div> */ ?>
      <?php echo $this->Form->end(); ?>
    </div>
  </div>
</div>
<?php echo $this->element('frontElements/home/contact_us');?>
<style>
.mandatory{	
	color:#FD2600;
}
.at15t_compact
{
	background:none;
}
.at16nc
{
	background:none;
}
</style>