<div id="wrapper"> 
  <div id="middle">
    <div class="breadcrumb_botcont">
      <div class="register_success">
      	<div class="reg_scleft">
        	<img src="../img/front/success.png" />
        </div>
        <div class="reg_scrgt">
      		<p class="reg_msg_head"> <?php echo __('password_sent');?> </p>
        	<span class="reg_msg"> <?php echo __('a_temporary_password_has_been_sent_to_your_e-mail_address');?></span>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.mandatory{	
	color:#FD2600;
}
.radio_image
{
	float:left;
	width:auto;
}
.radio_text{
	float:left;
	width:auto;
	margin-left:10px;
	margin-top:4px;
}
.term_chk_box
{
	float:left;
	width:auto;
}
.radioBox_container
{
	float:left;
	width:100%;
}
</style>
