<?php echo '';?>

<!-- main container section -->

    <section>
		<div class="container InnerContent CMS_Common_Pages">
        	<div class="row">
            	<div class="col-lg-12">
                	<h4 class="modal-title"><?php echo $terms['CmsPage']['page_title']; ?></h4>
                   <?php echo $terms['CmsPage']['description']; ?>
                          
                </div>
            </div>
            
            
            
        </div>    
    </section>

<!--End  main container section -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.return_to').on('click',function(){
			$('body,html').animate({
					scrollTop: 0
				}, 500);
				return false;
		})
	});

	
</script>
