<?php //echo $this->Html->script('/jwplayer/jwplayer');?>
<?php echo $this->Html->script('Scripts/jquery.raty.js');?>
<?php echo $this->Html->script('Scripts/jquery.msgBox.js');?>
<?php echo $this->Html->css('front/Styles/msgBoxLight.css');?>
<?php echo $this->Html->css('captivate.css');?>
<?php echo $this->Html->script('standard.js');?>


	<script type="text/javascript">
	$(document).ready(function () { 
	
	//alert(ajax_url+"files/members/L2_What_Is_Localization.swf");
		var strURLFull = window.document.location.toString();
		var intTemp = strURLFull.indexOf("?");
		
		var	strURLParams = "";
		if(intTemp != -1)
		{
			strURLParams = strURLFull.substring(intTemp + 1, strURLFull.length);
			
		}
	    var so = new SWFObject(ajax_url+"files/members/L2_What_Is_Localization.swf", "Captivate", "100%", "100%", "10", "#CCCCCC");
		so.addParam("quality", "high");
		so.addParam("name", "Captivate");
		so.addParam("id", "Captivate");
		so.addParam("wmode", "window");
		so.addParam("bgcolor","#f5f4f1");
		so.addParam("seamlesstabbing","true");
		so.addParam("menu", "false");
		so.addParam("AllowScriptAccess","always");
		so.addVariable("variable1", "value1");
		if(strURLParams != "")
		{
			so.addVariable("flashvars",strURLParams);
		}
		so.setAttribute("redirectUrl", "http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash");
		so.write("CaptivateContent");
		document.getElementById('Captivate').focus();
		document.Captivate.focus();
		});
	</script>
      

	<script type="text/javascript">
		
	</script>

 

	

<div id="wrapper"> 
  <div id="middle">
  	
    	
	
  	<!-- <div class="ajax-success">	</div> -->
    <div class="breadcrumb_botcont">
          <div class="tchng_cont">
          	<div class="tchng_cont_scrl">
            	<div class="vw_tchng_content">
				<div class="vwcntnt_hydng_ryt" id="CaptivateContent">
                	  
                	
                </div>
               
				</div>
			<div class="vw_ftct">
    			
              
                   	
              
               
            </div>
            </div>
	      </div>
        
          </div>
      <?php echo $this->Form->end(); ?>
    </div>
  </div>
</div>
<div id="rtsh" style="display:none"><?php echo $mem_acc_no;?></div>
<?php echo $this->element('frontElements/home/review'); ?>

<style>
.mandatory{	
	color:#FD2600;
}

.search_available_lan_lbl
{
	float:left;
	margin:7px 0px 0px 8px
}
#render_video_wrapper
{
	float:right !important;
	width: 490px !important;
	height:330px !important;
	padding-bottom:10px;
}

.at15t_compact
{
	background:none;
}
.at16nc
{
	background:none;
}
.vw_guide_bot
{
	padding-top:0px;
}
.video_border
{
	border: 1px solid #BEDAFF;
}



</style>