<?php if(!empty($video['CourseLesson'])) { ?>
	<?php echo $this->Html->script('jquery-1.8.1.min');?>
    <?php echo $this->Html->script('front/front');?>
    <?php echo $this->Html->script('/jwplayer/jwplayer');?>
    <script type="text/javascript">jwplayer.key="NCsSCSxmmK/Kp06tPL4+X17g7+t8VkvEPG9v6g==";</script>
    
    <script type="text/javascript" id="erasable" >
        $(document).ready(function(){
			var getId = $(".aa").attr('id');
			$.ajax({
				
				url:ajax_url+'Home/video/'+getId,
				success:function(html){
					$(".aa").html(html);
					  console.log(window.console);
					  if(window.console || window.console.firebug) {
					   console.clear();
					  }
				}
			});
			
			
            
            // Prevent form submission in IE AND CHROME
					
        });
		
    </script>
 
    <div class="aa" id="<?php echo $id;?>">
    </div>
    
 <?php } else { 
  echo  __("no_lesson_added_yet");	
  } ?>
