<?php echo $this->Html->script('/jwplayer/jwplayer');?>

<script>
$(".bg_wch, .vwcrsply_btn").live('click',function(){
			getId = $('#freeVideoId').attr('rel');
			
			if(getId)
			{
			
				$(".load_top").show();
				req = $.ajax({
				url:ajax_url+'Home/play_free_video/'+getId,
				dataType: 'json',
				success: function(resp){
				//alert(resp);return false;
					if(resp.status == 'error'){
						window.location.href = resp.url;
					}
					else if(resp.status == 'true')
					{	
						/*if(l_video=='watermark')
						{	
							var request = $.ajax({
								url: ajax_url+"Home/course_watched/",
								type: "POST",
								data: {course_id : getId},
								dataType: "html"
							});
						}*/
																	  

						jwplayer("render_video").setup({
						
							file: ajax_url+"/files/admin_free_video/"+resp.video,						
							//image: ajax_url+"/files/admin_free_video/"+resp.video+'_thumb.png',
						});
						jwplayer().play();
				
						// Prevent form submission in IE AND CHROME

						//$("#render_video").css('margin-left','227px');	
						//jQuery(document).live('click', '.jwplayer button', function(event) { event.preventDefault(); });
						
						//a.removeClass('bg_wch');			
					}
					else if(resp.status == 'nolesson'){
						alert(resp.error);
					}
					$(".load_top").hide();	
				}
			});
				
			req = $.ajax({
			url:ajax_url+'Home/watch_free_video/'+getId,
			dataType: 'json',
			success: function(resp){
			
			}
			});
			
		}
			return false;
			
	});
	$(document).ready(function(){
		
	iframeIdVal = $('#iframeId').attr('rel');
	
		if(iframeIdVal)
		{
			req = $.ajax({
			url:ajax_url+'Home/watch_free_video/'+iframeIdVal,
			dataType: 'json',
			success: function(resp){
			}
			});
		}
		return false;
	});
		
</script>
<!--<div id="wrapper">
	<div id="middle">
		<div class="free-vdo-cont">
			<div class="vdo-td">
				<h2><?php echo $free_video_detail['FreeVideo']['title_'.$locale];?></h2>
				<span style="float:left;width:100%;margin-bottom:5px;"><?php echo __('total_viewers');?> <?php echo $free_video_detail['FreeVideo']['viewer'];?></span>
				<?php if(!empty($free_video_detail['FreeVideo']['mins']) || !empty($free_video_detail['FreeVideo']['hours']) || !empty($free_video_detail['FreeVideo']['secs'])) { ?>
				<span style="float:left;width:100%;margin-bottom:5px;"><?php echo __('Duration:');?> 
				
				<?php 
				
				if($free_video_detail['FreeVideo']['mins'] > 0 || $free_video_detail['FreeVideo']['secs'] > 0) { ?>                                           
                                                    <?php echo  ($free_video_detail['FreeVideo']['mins'] != NULL && $free_video_detail['FreeVideo']['mins'] > 0)?$free_video_detail['FreeVideo']['mins']." ".__('minutes'):' ';?>
                                                    <?php echo  ($free_video_detail['FreeVideo']['secs'] != NULL && $free_video_detail['FreeVideo']['secs'] > 0)?$free_video_detail['FreeVideo']['secs']." ".__('seconds'):'00 '.__('seconds');?>
                                                <?php } ?>
				
				</span>
				<?php } ?>
				<p><?php echo $free_video_detail['FreeVideo']['description_'.$locale];?></p>
			</div>
			<?php $class='ply_btn_anchr';
					$class1='vwcrsply_btn'; ?>
			<div class="vdo-cont" id="render_video">
			<?php if(!empty($free_video_detail['FreeVideo']['own_video_url']) && file_exists('files/admin_free_video/'.$free_video_detail['FreeVideo']['own_video_url']."_thumb.png"))
				{
					$class = $free_video_detail['FreeVideo']['own_video_url']!='' ?'vwcrsply_btn':'vwcrsply_btn';
					$class1 = $free_video_detail['FreeVideo']['own_video_url']!='' ?'ply_btn_anchr':'ply_btn_anchr';
					
					echo $this->Html->image('/files/admin_free_video/'.$free_video_detail['FreeVideo']['own_video_url']."_thumb.png",array('width'=>490,'height'=>330,'id'=>'freeVideoId','rel'=>base64_encode(convert_uuencode($free_video_detail['FreeVideo']['id']))));
				}else if($free_video_detail['FreeVideo']['free_video_url'])
					{ 
					
					$class = $free_video_detail['FreeVideo']['free_video_url']!=''?'display:none':'vwcrsply_btn';
					$class1 = $free_video_detail['FreeVideo']['free_video_url']!='' ?'display:none':'ply_btn_anchr';
					$url = $free_video_detail['FreeVideo']['free_video_url'];
					$url = str_replace('watch?v=','embed/',$url); ?>
					<iframe id="iframeId" rel="<?php echo base64_encode(convert_uuencode($free_video_detail['FreeVideo']['id']));?>" style="margin-top:5px;" width="460" height="330" src="https://<?php echo str_replace('http://','',$url);?>" frameborder="0" allowfullscreen></iframe>
				<?php	                                    
				}else{
						  $class = $free_video_detail['FreeVideo']['free_video_url']!=''?'vwcrsply_btn':'vwcrsply_btn';
						  $class1 = $free_video_detail['FreeVideo']['free_video_url']!=''?'vwcrsply_btn':'ply_btn_anchr';
						  echo $this->Html->image('front/training_pik_old.png',array('width'=>490,'height'=>330)); 
						
				 } ?>
				<div class="<?php echo $class;?>">
					<a href="javascript:void(0);" class="<?php echo $class1;?>"></a>
				</div>
			</div>
		</div>
	</div>
</div>-->

<section>
  <div class="container InnerContent">
    <div class="row">
    <div class="col-lg-12">
<div class="modal-title"><?php echo $free_video_detail['FreeVideo']['title_'.$locale];?></div>

<div class="TotalViewer"> <?php echo __('total_viewers');?> <?php echo $free_video_detail['FreeVideo']['viewer'];?></div>
<?php if(!empty($free_video_detail['FreeVideo']['mins']) || !empty($free_video_detail['FreeVideo']['hours']) || !empty($free_video_detail['FreeVideo']['secs'])) { ?>
				<div class="Link"><?php echo __('Duration:');?> 				
				<?php 
				
				if($free_video_detail['FreeVideo']['mins'] > 0 || $free_video_detail['FreeVideo']['secs'] > 0) { ?>                                           
                                                    <?php echo  ($free_video_detail['FreeVideo']['mins'] != NULL && $free_video_detail['FreeVideo']['mins'] > 0)?$free_video_detail['FreeVideo']['mins']." ".__('minutes'):' ';?>
                                                    <?php echo  ($free_video_detail['FreeVideo']['secs'] != NULL && $free_video_detail['FreeVideo']['secs'] > 0)?$free_video_detail['FreeVideo']['secs']." ".__('seconds'):'00 '.__('seconds');?>
                                                <?php } ?>
				
				</div>
				<?php } ?>
  <div class="embed-responsive embed-responsive-16by9 pull-left NewsArticleImg freeVideoIMg">

<?php $class='ply_btn_anchr';
					$class1='vwcrsply_btn'; ?>
			<div class="vdo-cont" id="render_video">
			<?php if(!empty($free_video_detail['FreeVideo']['own_video_url']) && file_exists('files/admin_free_video/'.$free_video_detail['FreeVideo']['own_video_url']."_thumb.png"))
				{
					$class = $free_video_detail['FreeVideo']['own_video_url']!='' ?'vwcrsply_btn':'vwcrsply_btn';
					$class1 = $free_video_detail['FreeVideo']['own_video_url']!='' ?'ply_btn_anchr':'ply_btn_anchr';
					
					echo $this->Html->image('/files/admin_free_video/'.$free_video_detail['FreeVideo']['own_video_url']."_thumb.png",array('width'=>490,'height'=>330,'id'=>'freeVideoId','rel'=>base64_encode(convert_uuencode($free_video_detail['FreeVideo']['id']))));
				}else if($free_video_detail['FreeVideo']['free_video_url'])
					{ 
					
					$class = $free_video_detail['FreeVideo']['free_video_url']!=''?'display:none':'vwcrsply_btn';
					$class1 = $free_video_detail['FreeVideo']['free_video_url']!='' ?'display:none':'ply_btn_anchr';
					$url = $free_video_detail['FreeVideo']['free_video_url'];
					$url = str_replace('watch?v=','embed/',$url); ?>
					<iframe id="iframeId" rel="<?php echo base64_encode(convert_uuencode($free_video_detail['FreeVideo']['id']));?>" style="margin-top:5px;" width="460" height="330" src="https://<?php echo str_replace('http://','',$url);?>" frameborder="0" allowfullscreen></iframe>
				<?php	                                    
				}else{
						  $class = $free_video_detail['FreeVideo']['free_video_url']!=''?'vwcrsply_btn':'vwcrsply_btn';
						  $class1 = $free_video_detail['FreeVideo']['free_video_url']!=''?'vwcrsply_btn':'ply_btn_anchr';
						  echo $this->Html->image('front/training_pik_old.png',array('width'=>490,'height'=>330)); 
						
				 } ?>
				<div class="<?php echo $class;?>">
					<a href="javascript:void(0);" class="<?php echo $class1;?>"></a>
				</div>
</div>
</div>
<p><?php echo $free_video_detail['FreeVideo']['description_'.$locale];?></p>
</div>
</div>
</div>
</section>

