@charset "utf-8";

/* CSS Document */


*

{

	margin:0;

	padding:0

}


.mandatory {
    color: #FF2C06;
    float: left;
    margin-right: 5px;
}
.paginateSpan a
{
	left: 0.2em;
    margin: 0 5px 0 0;
    position: absolute;
    top: 2px;
	background-image: url("images/icons-red.png");
	background-position: -208px -48px;
	background-repeat: no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
}

.pagination .current 
{
	float:left;
	padding: 5px 4px;
	margin-left:5px;
	border: 1px solid #DDDDDD;
	background:#851A1A;
	color:#FFF;
}
.pagination .number
{
	float:left;
	margin-left:5px;
}
.pagination span a {
    display: block;
    padding: 4px 6px;
}
.pagination .no-display
{
	float:left;
	border: 1px solid #DDDDDD;
	padding: 4px;
	margin-left: 3px;
}
.pagination .prev
{
	float:left;
}
.pagination .next
{
	float:left;
	margin-left:5px;
}

.sub-bttn
{	
	/* background: url("images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") repeat-x scroll 50% 50% #F6F6F6; */
    border: 1px solid #DDDDDD;
    color: #851A1A;
    font-weight: bold;
    outline: medium none;
	padding:5px;
	cursor:pointer;
	float:left;
}

.package_leftformholders select
{
	font-size:12px;
}
.package_leftformholders .checkBoxStl
{
	width:300px;
	float:left;
}
.package_leftformholders .checkBoxStl label
{
	width:250px;
	float:left;
}
.package_leftformholders .checkBoxStl input
{
	width:50px;
	float:left;
}
.infoMsg
{
	font-size:10x;
	font-style:italic;
	font-weight:normal !important;	
}

.advert_inner
{
	float: left;
    width: 46%;
	margin-top:10px;
}
.a_remove
{
	background: none repeat scroll 0 0 #000000;
    color: #FFFFFF !important;
    float: left;
    height: 20px;
    line-height: 20px;
    opacity: 0.7;
    text-align: center;
    width: 100px;
	margin-top:-21px;
	display:none;
	font-size:12px;
	margin-left:3px;
}
.a_remove:hover
{
	cursor:pointer;
}
.ui-state-disabled
{
	 background-image: none;
    opacity: 0.35;
}

.noscript
{
	float: left;
    min-height: 370px;
    width: 100%;
	display:none;
}

.nonscript_changes {
    margin: auto;
    width: 990px;
}
.nonscript_register {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 285px 5px 285px 5px;
    box-shadow: 0 0 86px #999999 inset;
    color: #DA2A1A;
    float: left;
    font-size: 15px;
    margin-bottom: 39px;
    margin-top: 25px;
    min-height: 150px;
    padding: 90px 10px 10px;
    text-align: center;
    width: 96%;
}

.loading {
    display: none;
    float: left;
    left: 50%;
    position: fixed;
    width: 50%;
    z-index: 99999;
}
.adminLoginButton {
    float: left;
    text-align: center;
    width: 250px;
}
.adminLoginWait {
    display: none !important;
    float: left;
    margin-left: 25px !important;
    width: auto;
}
.cke_contents
{
	width:100% !important;
	float:left !important;
}
.cke_top 
{	
  margin: 0 0 2px 1px !important;
    padding: 6px 0 2px !important;
    width: 100% !important;
}
.cke_toolbox
{
	margin-left:10px;
}
.cke_bottom
{
	padding: 6px 0 2px 2px !important;
	width:99.8% !important;
}
.cke_resizer_ltr
{
	margin-right: 11px !important;	
}
#imageedit
{
float:left;
margin-top:-25px;
}
#image
{
width:280px;
float:left
}
.note
{
margin-top:5px;
}
#subjectDomain
{
	width:300px;
}

#addCommission1 {
  padding: 10px 5px 20px 0px;
}

#addCommission1 #defaultcommission {
    border: 1px solid #ccc;
    float: left;
    margin: 5px 0 10px;
    width: 7.2%;
}

#defaultcommission1 legend { float: left;
    font-size: 24px; 
    font-weight: bold;
    margin-right: 30px; margin-left:5px;}

#addCommission1 .submit input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #851a1a;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    margin: 6px 4px;
    padding: 0 4px;
}

#search_commission label{font-weight:bold;}          
#search_commission legend{margin-left:5px;}

#addCommission1 .error-defcommission {
  padding-left: 265px;
		position:absolute;
}


/*.buttons-list
{
float:right;
width:530px;
}*/
.upload-image
{
width: 280px;
float: left;
}


#addbanners{padding:0px;}
#addbanners ul li{display:table;}
#addbanners ul li img {
  display: table-cell;
  height: auto;
  width: 100%;
}
#addbanners ul li .buttons-list{display:table-cell; vertical-align:top; padding-left:90px; width:177px;}

#edit_course .checkbox input[type="checkbox"]{
    margin-left: 0px !important;
}
