<style>#main{	background: #f7f7f7;}</style><div id="wrapper">	<div id="middle">		<div class="add-firstcourse">			<a href="javascript:void(0);"><img src="<?php echo HTTP_ROOT?>img/front/add-course.jpg" /></a>		</div>	</div></div>