
<?php
        
        echo $this->Html->css('front/BeatPicker.min.css');
        echo $this->Html->script('front/BeatPicker.min.js');
?>
<script type="text/javascript">
    $(document).ready(function(){
	  $('.FilterBox').hide();    
        $(".loading_inner").hide();
        $("#dropdown7:first-child").text('<?php echo __('show_all_courses');?>').append('<span class="caret"></span>' );
        $("#dropdown7:first-child").val('all');
        $('#date_div').hide();
        $(".dropdown-menu li a").click(function(){    
        $("#dropdown7:first-child").text($(this).text()).append('<span class="caret"></span>' );
        $("#dropdown7:first-child").val($(this).attr('value'));
        if($(this).attr('value') =='range'){
            $('#date_div').show();
                from_date.on("select", function (data) {
                $("#from_date").parent().parent('.date_selected').attr('id',data.string);
                   $('.dt').attr('id','');$("#to_date").val('');
			 DateFrom = $('.df').attr('id');
			 DateTo ='';
			$('#filter_option').val('range');
	                Type = $('#filter_option').val();
			$('.date-range').hide();
	                $(".loading_inner").show();	
	                req = $.ajax({
	                        url:location.href,
	                        data: {'Type':Type,'DateFrom':DateFrom,'DateTo':DateTo},
	                        type:'post',
	                        success: function(resp){
	                                $(".loading_inner").hide();	
	                                $("#renderTrainerIncome").html(resp);	
	                                
	                                $(".titlerow").addClass("inactive");
			$("tr").not(".titlerow").hide();
			$("tr.titlehead").show();
			$(".titlerow td:first-child").click(function(index){
				
				
				var id=$(this).attr("id");
				if($(this).parent().hasClass("inactive")==true)
				{
				$("."+id).show();
					$("."+id).slideDown(10000);
				$(this).parent().removeClass('inactive');
				$(this).parent().addClass("active");
				}
				else
				{
				$("."+id).hide();
				$("."+id).slideUp(10000);
				$(this).parent().removeClass('active');
				$(this).parent().addClass("inactive");	
				}
				});
					
			
				
					$('table').footable();
					
	                                
	                                

	                        }
	                });
                });
		 to_date.on("select", function (data) {
                    $("#to_date").parent().parent('.date_selected').attr('id',data.string);
                        DateFrom = $('.df').attr('id');
                        DateTo = $('.dt').attr('id');
                        $('#filter_option').val('range');
                        Type = $('#filter_option').val();
			$('.date-range').hide();
                        $(".loading_inner").show();	
                        req = $.ajax({
                                url:location.href,
                                data: {'Type':Type,'DateFrom':DateFrom,'DateTo':DateTo},
                                type:'post',
                                success: function(resp){
                                        $(".loading_inner").hide();	
                                        $("#renderTrainerIncome").html(resp);	

$(".titlerow").addClass("inactive");
			$("tr").not(".titlerow").hide();
			$("tr.titlehead").show();
			$(".titlerow td:first-child").click(function(index){
				
				
				var id=$(this).attr("id");
				if($(this).parent().hasClass("inactive")==true)
				{
				$("."+id).show();
					$("."+id).slideDown(10000);
				$(this).parent().removeClass('inactive');
				$(this).parent().addClass("active");
				}
				else
				{
				$("."+id).hide();
				$("."+id).slideUp(10000);
				$(this).parent().removeClass('active');
				$(this).parent().addClass("inactive");	
				}
				});
					
			
				
					$('table').footable();
					

                                }
                        });	
                    });
        }else{
           $('#date_div').hide(); 
           $('#filter_option').val($(this).attr('value'));
            Type = $('#filter_option').val();

            $('.date_div').hide();
            $(".loading_inner").show();	
            req = $.ajax({
                    url:location.href,
                    data: {'Type':Type},
                    type:'post',
                    success: function(resp){

                            $(".loading_inner").hide();		
                            $("#renderTrainerIncome").html(resp);	
                            
                            $(".titlerow").addClass("inactive");
			$("tr").not(".titlerow").hide();
			$("tr.titlehead").show();
			$(".titlerow td:first-child").click(function(index){
				
				
				var id=$(this).attr("id");
				if($(this).parent().hasClass("inactive")==true)
				{
				$("."+id).show();
					$("."+id).slideDown(10000);
				$(this).parent().removeClass('inactive');
				$(this).parent().addClass("active");
				}
				else
				{
				$("."+id).hide();
				$("."+id).slideUp(10000);
				$(this).parent().removeClass('active');
				$(this).parent().addClass("inactive");	
				}
				});
					
			
				
					$('table').footable();
					
                    }
            });

        }
    }); 
  $(document).on('click','.common_setting a',function(){
	
			Type = $('#filter_option').val();
			
			DateFrom = $('.df').attr('id');
			DateTo = $('.dt').attr('id');
			url = $(this).attr('href');
			
			$.ajax({
				url:url,
				data: {'Type':Type,'DateFrom':DateFrom,'DateTo':DateTo},
				type:'post',
				success:function(html)
				{
					$('#renderTrainerIncome').html(html);
				}
			})
			return false;
		});
  $('#turn_on_off_chk').click(function(){
    var current_filter=$(this).val();  
    var   on_off_div= $('#on_off_div').val();    
    if(current_filter=='turn_filter_on' || current_filter=='')
    {
	DateFrom = $('.df').attr('id');
        DateTo = $('.dt').attr('id');
                        if($('#filter_option').val() ==''){Type="all";
}else{
                        Type = $('#filter_option').val();}
        $(this).val('turn_filter_off');
        $(this).html('<?php echo __('turn_filter_off');?>');
        //slides the respective content to show
        $('.FilterBox').slideDown(500);
    }else{
	DateFrom ='';
        DateTo ='';                        
        Type = 'all';
        $(this).val('turn_filter_on');
        $(this).html('<?php echo __('turn_filter_on');?>');
        //slides the respective content to show
        $('.FilterBox').hide();       
    }


	 		
			
                        $(".loading_inner").show();	
                        req = $.ajax({
                                url:location.href,
                                data: {'Type':Type,'DateFrom':DateFrom,'DateTo':DateTo},
                                type:'post',
                                success: function(resp){
                                        $(".loading_inner").hide();	
                                        $("#renderTrainerIncome").html(resp);	
                                        
                                            $(".titlerow").addClass("inactive");
			$("tr").not(".titlerow").hide();
			$("tr.titlehead").show();
			$(".titlerow td:first-child").click(function(index){
				
				
				var id=$(this).attr("id");
				if($(this).parent().hasClass("inactive")==true)
				{
				$("."+id).show();
					$("."+id).slideDown(10000);
				$(this).parent().removeClass('inactive');
				$(this).parent().addClass("active");
				}
				else
				{
				$("."+id).hide();
				$("."+id).slideUp(10000);
				$(this).parent().removeClass('active');
				$(this).parent().addClass("inactive");	
				}
				});
					
			
				
					$('table').footable();
                                        

                                }
                        });	
});
    $('#reset_filter').click(function(){
        $('#from_date').val('');
        $('#to_date').val('');
       $('#renderTrainerIncome').html('');

     });

  
    });
  
</script>
<section class="mainContent">
    	<div class="container">  
        	
            <div class="row tabbable margintop20">
            	<div class="col-lg-12">
                    <ul class="nav nav-tabs ">                                                                                   	
                        <li class="active"><a href="#tab1" data-toggle="tab" id="turn_on_off_chk" value="turn_filter_on"><?php echo __('turn_filter_on');?></a></li>
                    </ul>            
                </div>
            </div>
           <!-- <div class="tchng_cont_content">-->
            <?php echo $this->Form->create('Filter',array('id'=>'trainer_filter'));?>
            <?php 
					echo $this->Form->input('filtervalue',array('type'=>'hidden','value'=>'','div'=>false,'label'=>false,'id'=>'filter_option'));
				?>
            <div class="FilterBox">
                                
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1"><?php echo __('filter_results');?></label>
                            <div id="" class="dropdown DropdownField">
                                <button class="btn btn-default dropdown-toggle Textname" type="button" id="dropdown7" data-toggle="dropdown"><?php echo __('dropdown'); ?><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown7">
                                   <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" value="all"><?php echo __('show_all_courses');?></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" value="week"><?php echo __('courses_sold_this_week');?></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" value="month"><?php echo __('courses_sold_this_month');?></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" value="quarter"><?php echo __('courses_sold_this_quarter');?></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;"  value="year"><?php echo __('courses_sold_this_year');?></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" value="range"><?php echo __('courses_sold_by_date_range');?></a></li>
                                </ul>
                                   
                            </div>   
                        </div>
                    </div>
                </div>
            <div id="date_div">
                <div class="row">
                 <?php
								$str_date=date('Y,n,j', strtotime("+1 days")); 
								$from_disable_date="{from:[".$str_date."],to:'>'}";
								?>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                        <div class="form-group date_selected df" id="">
                            <label for="from_date"><?php __('filter_by_date_sold_from');?></label>
                            <input  type="text" name="from_date" data-beatpicker-id="from_date" data-beatpicker="true" placeholder="" id="from_date" data-beatpicker-disable="<?php echo $from_disable_date;?>" data-beatpicker-format="<?php echo $this->Timezone->dateFormatAccoringLocaleSearch($this->Session->read('LocTrain.locale'))?>"  class="form-control DatePicker">
                        </div>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                        <div class="form-group date_selected dt" id="">
                            <label for="to_date"><?php __('filter_by_date_sold_to');?></label>
                            <input  type="text" data-beatpicker-id="to_date" name="to_date" data-beatpicker="true" placeholder="" id="to_date" data-beatpicker-disable="<?php echo $from_disable_date;?>"  data-beatpicker-format="<?php echo $this->Timezone->dateFormatAccoringLocaleSearch($this->Session->read('LocTrain.locale'))?>"  class="form-control DatePicker">
                        </div>                                            
                    </div>
                </div>
                
                <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <span class="Link"><a id="reset_filter"><?php echo __('reset_filter');?></a></span>
                </div>
            </div>
            </div>
            </div>            
              <?php echo $this->Form->end(); ?>
            <div class="row">
            	<div class="col-lg-12">
            		<div class="modal-title IncomeTitle"><?php echo __('income_for'); ?> <span><?php echo $this->Session->read('LocTrain.Fname'); ?></span></div>
                </div>
            </div>
          <div class="income-table"  id="renderTrainerIncome">
                  <?php echo $this->element('frontElements/course/view_trainer_income_list'); ?>
              </div>
          <!-- </div> -->
        </div>
     <div class="loading" style="margin-left: -12px">
                    <div class="loading_inner">
                        <?php echo $this->Html->image('front/ajax-loader.gif',array('width'=>'197','height'=>'22','class'=>'loading_image')); ?>
                    </div>
              </div>
    </section>
        
    <!--End Tab Drop section --> 
	
	

	
	

