 <!--<div id="page-content">

	<div id="page-content-wrapper" style="padding:0; margin:0; background:0; box-shadow:0 0 0 0 #fff;">

		<div class="hastable">
	
			<table id="sort-table"> 
				<thead> -->
<div>  
    <div class="row">
        <div class="row" style="margin-top: 10px !important;"></div>	        
        <div class="col-sm-12">
<!--                                <div class="btn-group">
                                                <button type="button" class="btn btn-default">Filters</button>
                                                <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                      
                                                        <li>
                                                            <a href="" tabindex="-1">Show All</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" tabindex="-1">This Week</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" tabindex="-1">This Month</a>
                                                        </li>
                                                       
                                                        <li>
                                                            <a href="javascript:void(0)" tabindex="-1">This Quarter</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" tabindex="-1">Date Range</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            
                                            </div>-->
	  <div class="row" style="margin-top: 10px !important;"></div>	
			<!--<table id="sort-table"> -->
<table id="DataTables_Table_1" class="table table-bordered table-striped js-dataTable-full dataTable no-footer" role="grid" aria-describedby="DataTables_Table_1_info"> 
                        <thead> 
			<tr>
                        <th class="text-center" width="3%">#</th> 
                                                <th>Courses</th> 
                                                <th width="15%" class="hidden-xs">Gross Income</th> 
                                                <th width="15%" class="hidden-xs">Commission</th>
                                                <th width="15%">Net Income</th>
                        </tr> 
			</thead> 
			<tbody> 
			
					<?php 
                                                        $grnt_total ='0'; 
                                                        $total_commision='0';
                                                        $net_total_income='0';

                                                if(!empty($all_course_income))
                                                {
                                                    $x=0;    
                                                        foreach($all_course_income as $key=>$course_income)
                                                        { 
                                                            
                                                            if($course_income['gross_income']!=0)
                                                            {$x++;
                                                            ?>
                                                                    <tr>									<td class="text-center"><?php echo $x ;?></td>		
                                                                        <td>

                                                                        <?php 
                                                                            echo $course_income['course_title'];
                                                                            ?>

                                                                        </td>	
                                                                        <td class="hidden-xs"><?php echo $course_income['gross_income'];?></td>	
                                                                        <td class="hidden-xs"><?php echo $course_income['commission'];?></td> 		
                                                                        <td><?php echo $course_income['net_revenue'];?></td> 
                                                                </tr> 
                                                                <?php	

                                                            }
                                                        }  
                                                } else { ?>
                                                        <tr>
                                                                <td colspan="7">No Record Found.</td>
                                                        </tr>
                                                <?php } ?>	
						<?php  $total_commision= number_format($total_commision,'2','.','');
							   $net_total_income=number_format($net_total_income,'2','.',''); 
							  // echo $net_total_income;
							  // echo $total_commision;
							  // echo $net_total_income;?>
							<input type='hidden' value=<?php echo $grnt_total ?> id='t_grant'/>
							<input type='hidden' value=<?php echo $total_commision ?> id='t_commission'/>
							<input type='hidden' value=<?php echo $net_total_income ?> id='t_income'/>
							
                        </span>  
				</tbody>
			</table>

			<div></div>

			<div class="clear"></div>
			
			<!--<div id="pager" class="pagination">
				<?php echo $this->element('adminElements/table_head'); ?>
			</div>->
				
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>