
<script type="text/javascript">
	
	$(document).ready(function() {

		/*$('.updateStatus').live('click',function(){
			
			$this = $(this);
			var id = $this.attr('id');
			var chk = jQuery.trim($this.attr('class'));
			
			$(".loading").show();
			
			if(chk.match('ui-state-hover'))
			{
				oldClass = 'ui-state-hover';
				newClass = 'ui-state-default';
			}
			else 
			{
				oldClass = 'ui-state-default';
				newClass = 'ui-state-hover';
			}
			
			$.post(ajax_url+'/admin/users/setStatus/Member/', { id: id }, function(resp){
				
				if($.trim(resp) == 'done')
				{
					$this.removeClass(oldClass).addClass(newClass);
					$(".loading").hide();
				}
			});		
		
			return false;
		
		});		*/	
		
	});
</script>

<?php /*$this->Paginator->options(array('url' => array('controller'=>'Users','action'=>'admin_authors'))); */?>

<div id="content" class="content">

	<div class="block">

		<div class="block-content">
	
<table id="DataTables_Table_1" class="table table-bordered table-striped  js-dataTable-full dataTable no-footer" role="grid" aria-describedby="DataTables_Table_1_info">
                        <thead> 
			<tr>
                        <th></th> 
                            <th>Name</th> 
                            <th>Gross Income</th>
                            <th>Commission</th>
                            <th>Net Income</th>
			</tr> 
				</thead> 
				<tbody> 
			
					<?php 	//pr($info);die;
                        if(!empty($info))
                        {
                                //pr('fioh4ighi4'); die;
                                $i = $this->Paginator->counter('%start%');
                                foreach($data as $member_detail)
                                { 
                               	$id = base64_encode(convert_uuencode($member_detail['id'])); 
                                $table= base64_encode('Member');
                                $renderPath=base64_encode('admin/member');
                                $renderElement=base64_encode('author_list');
?>
                                        <tr>
                                        <td><?php echo $i; ?></td> 
                        		<td><a title="View Income" href="<?php echo HTTP_ROOT."admin/users/author_income/".$id; ?>" ><?php echo $member_detail['final_name']; ?></a></td> 
					<td><?php echo __('USD ');?><?php echo number_format($member_detail['total'],'2','.','');; ?></td> 
                                        <td><?php echo __('USD ');?><?php echo number_format($member_detail['comm'],'2','.','');; ?></td> 
                                        <td><?php echo __('USD ');?><?php echo number_format($member_detail['rev'],'2','.','');; ?></td> 
                                        </tr> 
					<?php	
				 $i++;				
                                }
                        } else {

                        }
                ?>						
				</tbody>
			</table>
			<div class="clear"></div>
			
			<!--<div id="pager" class="pagination">
				<?php echo $this->element('adminElements/table_head'); ?>
			</div>-->
				
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
