.show-notifications {
	position: relative;
}
.show-notifications:hover #icon-bell, .show-notifications:focus #icon-bell, .show-notifications.active #icon-bell {
	fill: #34495e;
}
.show-notifications #icon-bell {
	fill: #7f8c8d;
}
.show-notifications .notifications-count {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background:#ea700d;
	color: #fff;
	height: 20px;
	line-height:20px;
	position: absolute;
	right: -10px;
	text-align: center;
	top: -10px;
	width: 20px;
	font-size:13px;
}
.show-notifications.active ~ .notifications {
	opacity: 1 !important;
	margin-top:0px;
}
.notifications {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: 0.25s ease-out 0.1s opacity;
	-moz-transition: 0.25s ease-out 0.1s opacity;
	-o-transition: 0.25s ease-out 0.1s opacity;
	transition: 0.25s ease-out 0.1s opacity;
	background: #f4f4f4;
	border: 1px solid #bdc3c7;
	left:-10px;
	opacity: 0;
	position: absolute;
	top:35px;
	z-index:999;
	font-family:"proxima-nova-n3","proxima-nova",sans-serif; font-style:normal; font-weight:300; 
	margin-top:-2000px;
}
.notifications:after {
	border: 10px solid transparent;
	border-bottom-color: #0070c0;
	content: '';
	display: block;
	height: 0;
	left: 10px;
	position: absolute;
	top: -20px;
	width: 0;
}
.notifications .show-all {
	background-image:none !important;
	color: #0070c0;
	margin: 0;
	padding: 10px !important;
}
.notifications h3 {
	cursor: default;
	font-size:18px;
	font-weight: normal;
	padding:10px 10px;
	text-align:left;
	background:#0070c0;
	color:#fff;
}
.notifications .show-all {
	display: block;
	text-align: center;
	text-decoration: none;
}
.notifications .show-all:hover, .notifications .show-all:focus {
	color:#0070c0;
	text-decoration: underline;
}
.notifications .notifications-list {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align:left;
	max-height:400px;
	min-height:42px;
	/*overflow-y:auto;*/
}
.notifications .notifications-list .item {
	-webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
	-moz-transition: -moz-transform 0.25s ease-out 0.1s;
	-o-transition: -o-transform 0.25s ease-out 0.1s;
	transition: transform 0.25s ease-out 0.1s;
	border-top: 1px solid #bdc3c7;
	color: #7f8c8d;
	cursor: default;
	display: block;
	padding: 10px;
	position: relative;
	white-space: nowrap;
	width: 350px;
	border-right:none;
	height:auto;
}
.notifications .notifications-list .item:before, .notifications .notifications-list .item .details, .notifications .notifications-list .item .button-dismiss {
	display: inline-block;
	vertical-align: middle;
}
.notifications .notifications-list .item:before {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: #0070c0;
	content: '';
	height: 8px;
	width: 8px;
	display:none; /*hide bullets*/
}
.notifications .notifications-list .item .details {
	margin-left: 10px;
	white-space: normal;
	/*width: 280px;*/
	width:100%;
	padding-right:30px;
	width:calc(100% - 30px);
}
.notifications .notifications-list .item .details .title, .notifications .notifications-list .item .details .date {
	display: block;
}
.notifications .notifications-list .item .details .date {
	color: #95a5a6;
	font-size: .85em;
	margin-top: 3px;
	border:none;
}
.notifications .notifications-list .item .button-dismiss {
	color: #bdc3c7;
	font-size:28px;
	background:none;
	margin:0px 0px 0px -25px;
}
.notifications .notifications-list .item .button-dismiss:hover, .notifications .notifications-list .item .button-dismiss:focus {
	color: #95a5a6;
}
.notifications .notifications-list .item.no-data {
	display: none;
	text-align: center;
}
.notifications .notifications-list .item.no-data:before {
	display: none;
}
.notifications .notifications-list .item.expired {
	color: #bdc3c7;
}
.notifications .notifications-list .item.expired:before {
	background: #bdc3c7;
}
.notifications .notifications-list .item.expired .details .date {
	color: #bdc3c7;
}
.notifications .notifications-list .item.dismissed {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);	
}


@media all and (min-width:0\0) and (min-resolution: .001dpcm)
{
	
	.notifications .notifications-list .item.dismissed {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
    -ms-transform: translateX(100%) rotate(0deg);
    -ms-transform-origin: left right;
	transform: translateX(100%);	
overflow:hidden;
min-height:10px;

			  padding:0px;
}
.container-header1 form {
  padding: 0px 25px !important;
}
.container-header1 .Catalouge{top:17px}


.notifications .notifications-list .item:before{height:8px !important; display:none !important;}
  
}



@media all and (-ms-high-contrast:none)
{
	
	.notifications .notifications-list .item:before{height:8px !important; display:none !important;}
	.notifications .notifications-list .item.dismissed {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);	
   -ms-transform: translateX(100%) rotate(0deg);
    -ms-transform-origin: left right;
				overflow:hidden;
min-height:10px;

		  padding:0px;
}
	
	.container-header1 form {
  padding: 0px 25px !important;
}
.container-header1 .Catalouge{top:17px}
}

.notifications.empty .notifications-list .no-data {
	display: block;
	padding: 10px;
}
.js-notifications-wrapper { display:none; }
/* variables */
/* mixins */