.exclude {
    margin: auto;
    padding: 0;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}    
.exclude li{
/*  border-bottom: 1px solid #CCCCCC !important;*/
width:99%;
/*padding-bottom: 20px;*/
    list-style: none outside none;
   margin-bottom: 10px;
    min-height: 144px;
  /*  padding-left: 2px;
    padding-right: 5px;*/
    height: auto;
    float: left;
   }
   li.disabled{
    opacity: 0.5;
    }
    li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    }
   .mainbody h1 {cursor: move;}