﻿#mcts1 
{
	float:left;
    width:100%;
    height:1200px;
    margin: 0 auto;
    padding:10px 20px 10px 0;
    background:url(../app/webroot/img/loading.gif) no-repeat 50% 50%;
    
    /* Do not alter the below settings */
    white-space:nowrap;
    position:relative;
    font-size:0px;
}
#mcts1>* {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item 
{
    padding:0;
    margin-right:0; /* this specifies the distance between each thumbnail */
    border:none;
    text-align:left;
    position:relative;
}

/*-------- style of user defined class ---------*/
#mcts1 div.each 
{
    color:#696F5B;
    white-space:normal;
    padding:0px 20px 0px 0px;
    width:100%;
    min-height:1200px;
}

#mcts1 .each .content 
{
    float:left;
    padding-left:40px;
    padding-right:20px;
    width:100%;
    height:1200px;
    overflow:auto;
}
#mcts1 .each img 
{
    border:none;
    float:left;
	 background: none repeat scroll 0 0 #333;
    padding: 1px;
    width: 99%;
	height:440px;
}
#mcts1.div
{
	height:1200px !important;
}



/*---------navigation buttons-------*/
#mcts1 .navPrev, #mcts1 .navNext, #mcts1 .navPlay, #mcts1 .navPause 
{
    width:45px; height:45px; position:absolute;  
    background:url(navButtons.png); 
    background-repeat: no-repeat;
    display:none; z-index:5; cursor:pointer;
    top:100px;
}
#mcts1 .navPrev {background-position:0 0;left:-24px;}
#mcts1 .navPrev:hover {background-position:0 -45px;}
#mcts1 .navPrevDisabled {background-position:0 -90px;cursor:default;}

#mcts1 .navNext {background-position:-45px 0px;right:-24px;} 
#mcts1 .navNext:hover {background-position:-45px -45px;} 
#mcts1 .navNextDisabled {background-position:-45px -90px; cursor:default;} 

#mcts1 .navPause, #mcts1 .navPlay {display:none;}

.navPrev, .navPlay, .navPause, .navNext 
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

        
/*---------built-in navigation bullets--------*/

/* Note: the navBullets won't be available when the "scrollByEachThumb" option was set to false in the Javascript.*/
#mcts1 .navBullets
{
    /*display:none;*/ /*set it display:none when you don't need it*/
	display:block;
	cursor:pointer;
	/*Specify its position that is relative to the div#mcts1 */
	position:absolute;
	bottom:15px;
	right:2px;
	width:15px;
	top:122px;
	height:250px;
	z-index:5;
}
/* Below defines the style of each bullet*/
#mcts1 .navBullets a 
{
    display:inline-block;
    width:15px;
	margin:5px 0;
	height:38px;
    background:url(../img/front/paging_default.png) no-repeat;
    float:left;
	overflow:hidden;
	vertical-align:middle;
	cursor:pointer;
    margin-right:0px;/*margin-right determines the distance between each bullets*/
}
#mcts1 .navBullets a:hover {background-position:0 0px;}
#mcts1 .navBullets .active {background-position:0 -39px;}
#mcts1 .navBullets a.active:hover {background-position:0 -39px;}



/* --------- Others ------- */
#mcts1
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.read_default
{
	color: #2D66B1;
    float: left;
    font-weight: bold;
    margin-right: 15px;
    padding-bottom: 2px;
    padding-left: 24px;
    text-decoration: none;
    width: auto;
	margin-left:25px;
}