<?php //echo  print "<pre>"; print_r($set); ?>
<?php  $locale = $this->Session->read('LocTrain.locale'); ?>
<?php 
   /* Rating Script [Start] */
        echo $this->Html->script('front/star-rating.js');
?>
<script type="text/javascript">
function to_numbers (str)
			{var is_number = /[0-9]/;
				var formatted = '';
				for (var i=0;i<(str.length);i++)
				{
					char_ = str.charAt(i);
					if (formatted.length==0 && char_==0) char_ = false;

					if (char_ && char_.match(is_number))
					{
						
						formatted = formatted+char_;
					}
				}

				return formatted;
			}
<?php if($update_record != '1') { 

?>

	$(".tab-content").attr('id','<?php echo $last_record_id;?>');
	var yesCls=false;
		<?php if(!empty($course_list)){ ?>
if($("#tab1").hasClass('active')){
yesCls=true;
}
	var getId = $("#tab1").attr('class');			
			var abc=to_numbers(getId);		
			$("#tab1").removeClass(abc);
			$("#tab1").addClass('<?php echo $last_id;?>');
			if(yesCls){
			$("#tab1").addClass('active');
			}
		<?php }else { ?>
		var getId = $("#tab1").attr('class');			
			var abc=to_numbers(getId);		
			$("#tab1").removeClass(abc);
			$("#tab1").addClass('0');
			if(yesCls){
			$("#tab1").addClass('active');
			}
		<?php } ?>	
	<?php } ?>

</script>
<!--<div class="tchng_cont_container" id="<?php echo $last_id;?>"> 
    <div class="tchng_cont_content" id="<?php echo $last_id;?>">-->
  <?php  $i=0;

                                        foreach($course_list as $list){ 



  $m_id = $this->Session->read('LocTrain.id');
       $decoded_id = $list['Course']['id'];
if($this->Session->read('LocTrain.id'))
		{
		
		
		if($tabtype=='wishlist')
		{
		 $is_rated = $this->Utility->getCourseRating($m_id,$decoded_id);
		$rate=''; 
			   for($i=0;$i<count($is_rated);$i++)
			   {
			   
			   $rate+=$is_rated[$i]['CourseRating']['rating'];
			   }
			   $is_rated1=$rate/count($is_rated);
		
			   if(!empty($is_rated))
			   {
			   if(count($is_rated)>1)
			   {
			   $rating=(fmod($is_rated1,0.5)==0) ? $is_rated1 : round($is_rated1);
			   }
			   else
			   {
			   $rating=$is_rated1;
			   }
			    
			   }
			else
			{
				$rating= 0;
			}
			
		
		
		}
		else{
		
		 $is_rated = $this->Utility->getCourselearningRating($m_id,$decoded_id);

 if(!empty($is_rated))
			{
				  $rating= $is_rated['CourseRating']['rating'];
			}
			else
			{
				$rating= 0;
			}
		
		}

			$login=1;
 }
 
 
										//echo '<pre>';print_r($list);echo '</pre>';?>
					<?php 	$video = '';	 $less_image='';	 $image='';		
                                                if(!empty($list['CourseLesson'])){
                                                    $if_only_one_lesson=count($list['CourseLesson']);
                                                    foreach($list['CourseLesson'] as $lesson){
                                                        if($lesson['video'] != ''){
                                                            $video = $lesson['video'];
                                                            $extension = $lesson['extension'];
                                                            $image = $lesson['image'];
                                                            break;
                                                            }
                                                        }
  foreach($list['CourseLesson'] as $lesson){
                    if($lesson['image'] != ''){                       
                        $less_image=$lesson['image'];
                        break;
                    }
                }
                                            }	$learning_type='';
										
											
						if(!empty($list['CoursePurchaseList'])){
						     foreach($list['CoursePurchaseList'] as $row){
                                                        if($row['c_id'] != $list['course']['id'] && $row['purchase_id']!=NULL && $tabtype!='wishlist'){
														
															
														
                                                            $learning_type=$row['type'];
                                                            break;
                                                            }
															elseif($row['c_id'] != $list['course']['id'] && $row['purchase_id']==NULL && $tabtype=='wishlist')
															{
															
															 $learning_type=$row['type'];
                                                            break;
															}
														
							}
						}							
					?>
                                    <div class="video_sec video_sec2 video_sec3" rel="<?php echo base64_encode(convert_uuencode($list['Course']['id']));?>" id="remove_div_<?php echo $list['CoursePurchaseList'][0]['id'];?>">
                                    	<div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 VideoBoxLeft">
                                               <?php 
                             $course_image = $list['Course']['image'];
              

$path=$this->Utility->getAWSDisplayUrl(COURSES_BUCKET,$course_image);
                    if(!empty($course_image) && $path){
                         echo $this->Html->link($this->Html->image($this->Utility->getAWSImgUrl(COURSES_BUCKET,'thumb/'.$course_image),array('width'=>'','height'=>'','class'=>'img-responsive')),array('controller'=>'Home','action'=>'view_course_details',base64_encode(convert_uuencode($list['Course']['id']))),array('class'=>'course_link','escape'=>false));        
                    }else if(!empty($less_image) && $this->Utility->getAWSDisplayUrl(LESSON_BUCKET,$less_image)){
                         echo $this->Html->image($this->Utility->getAWSImgUrl(LESSON_BUCKET,'thumb/'.$less_image),array( 'class'=>'img-responsive'));
                    }else if(!empty($image) && $this->Utility->getAWSDisplayUrl(LESSON_BUCKET,$image)){
                         echo $this->Html->image($this->Utility->getAWSImgUrl(LESSON_BUCKET,'thumb/'.$image),array( 'class'=>'img-responsive'));     
                    }else
                    { 
                       echo $this->Html->image('front/no_thumbnail_'.$locale.'.png',array('url'=>array('controller'=>'Home','action'=>'view_course_details',base64_encode(convert_uuencode($list['Course']['id'])))),array('class'=>'img-responsive'));   
                    }   
                                                    ?>

                                                    
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 RatingBox LastViewedBox">
                                            	                                           	
                                                    <?php if(!empty($list['CourseWatch'])) {
                                                    $u_date=$this->Time->convert($list['CourseWatch'][0]['date_viewed'],$this->Session->read('Timezone'));

                                                        ?>
                                             <div class="OtherLink LastWatch"> <?php echo String::insert(__("last_viewed_br_date"),array('date' => $this->Timezone->dateFormatAccoringLocaleLang($this->Session->read('Config.language'),$list['CourseWatch'][0]['date_viewed']))); ?></div>
                                                <?php } else{ ?>
                                              <div class="OtherLink"></div>
                                                <?php } ?>
                                              <?php 
						//	print_r( $list['Subscription_course']);
							//print_r( $list['Subscription_lesson']);
							
						 if(!empty($list['Subscription_course']))
						{
							$option="view";
							$full_course=1;
						}
						else if(!empty($list['Subscription_lesson']))
						{
							$full_course=0;
							$option="view";
						}
						else
						{
							$option="view";
							$full_course=0;
							$if_only_one_lesson=2;
						}
				?>
                                              <div class="OtherLink">
				<?php  
                    if(trim(@$set[$i])=="unlink") {
							
				      $class = 'vw_scn_link bg_ad_basket added_learning_sub';
				      $url = 'javascript:void(0);';						
								if(isset($learning_type) && $learning_type== 1){	
					echo $this->Html->link(__('add_to_shopping_basket'),$url,array('class'=>$class));
}
				}
					
					else if(!$subscribed)
							{
                                $class ='';	
                               if(in_array($list['Course']['id'],$cookie_courses) ||  trim($list['Course']['price'])==0.00)
								/*{  
									$class = 'vw_scn_link_disable bg_ad_basket preview_disableadded_learning_sub';
								}else{
									$class ="vw_scn_link_disable bg_wch_preview preview_disable add_to_cart ad_bskt_bg";
								}*/
								
								{  
									$class = 'vw_scn_link bg_ad_basket added_learning_sub';
								}else{
									$class ="vw_scn_link add_to_cart ad_bskt_bg"; 
								}
                                $url = in_array($list['Course']['id'],$cookie_courses)? 'javascript:void(0);' : array('controller'=>'Home','action'=>'add_to_cart',base64_encode(convert_uuencode($list['Course']['id'])),'tab3');						
                              
							    if(!$full_course)
								{
									if($if_only_one_lesson > 1)
									{
									if(isset($learning_type) && $learning_type== 1){
										echo $this->Html->link(__('add_to_shopping_basket'),$url,array('class'=>$class));}
											
									}
								}
								
								if( $list['Subscription_course'][0]['type']==1 && $learning_type==1)   
							{
								
								$lessons=$this->Utility->getpurchaselistexistence($list['Course']['id'],$this->Session->read('LocTrain.id'));
								if(!empty($lessons))
								{
								if($lessons[0]['CoursePurchaseList']['lesson_id'])
								{
								echo $this->Html->link(__('add_to_shopping_basket'),'javascript:void(0);',array('class'=>'vw_scn_link_disable wishlist-link'));
								}
								}
								else
								{
								echo $this->Html->link(__('add_to_shopping_basket'),$url,array('class'=>$class));
								}
							
							}
							}
                            ?>
                                                  </div>
                                              <div class="OtherLink viewlink1">
                <?php 
					
					$owner_id = base64_encode(convert_uuencode($list['Course']['m_id']));
					if($list['Course']['price']==0.00)
					{
						if($extension!='swf' && $extension!='zip')
						{
							echo $this->Html->link(__('view'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four open_video','rel'=>'view'));	
						}else {
							
							echo $this->Html->link(__('view'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$list['Course']['title']),array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four'));
						
						}						
					}
					
					else if(!$subscribed)
					{
						if(isset($extension) && $extension!='swf' && $extension!='zip')
						{
							echo $this->Html->link(__($option),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four open_video','rel'=>$option)); 
						}else {
							/*if($option=="Watch"){
							
								echo $this->Html->link(__('view'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$list['Course']['title']),array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four'));
							}else{
								echo $this->Html->link(__('view'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four vw_scn_link_disable bg_wch_preview preview_disable','title'=>__('preview_is_not_available_for_interactive_videos')));
							} */ 
							echo $this->Html->link(__('view'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$list['Course']['title']),array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>''));
							
                        }						
						
						
					}else
					{
						if($extension!='swf' && $extension!='zip')
						{
							echo $this->Html->link(__('view'),'javascript:void(0);',array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four open_video','rel'=>'view'));
						}else {
							echo $this->Html->link(__('view'),array('controller'=>'home','action'=>'play_video_swf/'.$video.'/'.$extension.'/'.$owner_id.'/'.$list['Course']['title']),array('id'=>base64_encode(convert_uuencode($list['Course']['id'])),'class'=>'tc_four'));
						}						
					}
				?>
                                                  </div>
												  
												  
												  	  <div class="RatingBox1">
            <div class="col-xs-6  no-padding">
            <form>
               <?php if($tabtype=='wishlist')
			  
			   {
			   ?>
			   <input id="input-21a-<?php echo $list['Course']['id']?>" data-disabled="true" value="<?php echo $rating;?>" type="number" class="rating" min=0 max=5 step=0.5 data-size="xl" data-show-caption="false">
			   
			   <?php }
			   else{
			   ?>
			    <input id="input-21a-<?php echo $list['Course']['id']?>" data-disabled="false" value="<?php echo $rating;?>" type="number" class="rating" min=0 max=5 step=0.5 data-size="xl" data-show-caption="false">
			   <?php
			   
			   }
			   ?>
          
               
            </form>
        </div>

    </div> 
	
	<div class="clear"></div>
                <?php 
			
				if($list['CoursePurchaseList'][0]['purchase_id']==NULL && empty($lessons) && in_array($list['Course']['id'],$cookie_courses)!=true && $learning_type==1)
				{
				echo '<div class="OtherLink">'.$this->Html->link(__('remove'),'javascript:void(0);',array('id'=>$list['CoursePurchaseList'][0]['id'],'class'=>'remv_frm_plan remv_frm_plan_left','rel'=>base64_encode(convert_uuencode($list['CoursePurchaseList'][0]['id'])))).'</div>'; 
				}
				?>
				
				
			       
                                            </div>        
                                        </div>
                                        <div class="row">
										
										
                                        	<div class="col-lg-12">
                                            	<h2><?php echo $this->Html->link($list['Course']['title'],array('controller'=>'Home','action'=>'view_course_details',base64_encode(convert_uuencode($list['Course']['id']))),array('class'=>'course_link')); ?></h2>
                                            	<p id="section_desc">	<?php echo $this->Text->truncate($list['Course']['description'],'200',array('exact'=>false)); ?>
                                                    	
                                                    <?php if($list['Course']['description'] > 200){ ?>
                                                        
                                                        <?php echo $this->Html->link(__('more'),'javascript:void(0);',array('class'=>'ViewMore read_more_review ','rel'=>__('less'))); ?>
                                                    <?php } ?>
                                                </p>
                                                <p class="long_desc sliding" style="display:none"> <?php echo $list['Course']['description']; ?> </p>
                                            </div>
                                        </div>
                                    </div>
                                			
        
<?php  $i++;  } ?>

<?php if($locale == 'ar')
	{ ?>
		<style>
		.vw_scn_link
		{
			padding-top:0px !important;
			padding-right:21px !important;
			margin-left:4px !important; 
			padding-left:6px !important;
		} 
		</style>
<?php 	} else 
	{ ?>
		<style>
		.vw_scn_link
		{
			padding-top:0px !important;
			/*padding-left:21px !important;*/
			margin-right:4px !important; 
			padding-right:6px !important;
		} 
		</style>
	
	<?php } ?>
	

<script>
    jQuery(document).ready(function () {
$('body').addClass('homeBody');
        $(".rating").rating({
            starCaptions: function(val) {
                if (val < 3) {
                    return val;
                } else {
                    return 'high';
                }
            },
            starCaptionClasses: function(val) {
                if (val < 3) {
                    return 'label label-danger';
                } else {
                    return 'label label-success';
                }
            }
        });
  $('.rating').on('rating.change', function(event, value, caption) {
                var attr_id=$(this).attr('id');
                var arr = attr_id.split('input-21a-');
                var id =arr[1];
                var rating=value;
              $.ajax({
                           url: ajax_url+"Home/update_rating",
                           type: "POST",
                           data: {course_id : id, rating: rating},
                           dataType: "html",
						   success:function(){
						   
						   $('#to_rating_'+id).text(rating);
						   }
                     });    
              /*  console.log(id);
                console.log(value);
                console.log(caption);*/
                });
    });
</script>
