<?php $this->Paginator->options(array('url' => array('controller'=>'Users','action'=>'meta_tags','admin'=>true))); ?>
<div>
    <div class="row" style="margin-top: 20px !important;"></div>
<div>

<div class="row" style="margin-top: 20px !important;"></div>	
			<!--<table id="sort-table"> -->
<table id="DataTables_Table_1" class="table table-bordered table-striped  js-dataTable-full dataTable no-footer" role="grid" aria-describedby="DataTables_Table_1_info">
				<thead> 
					<tr>
                                           
                        <th width="3%" class="text-center">#</th>
                        <th width="32%">Meta Title</th>
                        <th width="32%">Meta keywords</th>
                        <th width="33%">Meta Description</th>                                                
                      
                    </tr> 
                </thead> 
                <tbody> 
                        <?php //pr($info);die;
						if(!empty($info))
						{
							$i = $this->Paginator->counter('%start%');
							foreach($info as $pages)
							{ 
						?>
                        		
                                <tr>
                                    <td class="text-center"><?php echo $i; ?></td>
                                        <td>
                                             <?php 
                                                    $id = base64_encode(convert_uuencode($pages['MetatagSetting']['id']));  ?>
                                            <a title="Edit" href="<?php echo HTTP_ROOT."admin/users/edit_meta_data_settings/".$id; ?>" ><?php echo $pages['MetatagSetting']['meta_title_en'];?></a></td>
                                    <td><?php echo $pages['MetatagSetting']['meta_keywords_en'];?></td>
                                    <td><?php echo $this->Text->truncate(strip_tags($pages['MetatagSetting']['meta_description_en']),150,array('ending'=>'...','exact'=>false));?></td>
                                    
                                  <!--  <td>
                                        <?php 
                                                                $id = base64_encode(convert_uuencode($pages['MetatagSetting']['id'])); 
                                                                $table= base64_encode('MetatagSetting');
                                                                $renderPath=base64_encode('admin/metaTags');
                                                                $renderElement=base64_encode('meta_data_setting_list');
                                                ?>
                                                <a title="View" href="<?php echo HTTP_ROOT."admin/users/view_meta_data_settings/".$id; ?>" class="btn_no_text btn ui-state-default ui-corner-all tooltip">
                                                        <span class="ui-icon ui-icon-search"></span>
                                                </a>
                                                <a title="Edit" href="<?php echo HTTP_ROOT."admin/users/edit_meta_data_settings/".$id; ?>" class="btn_no_text btn ui-state-default ui-corner-all tooltip">
                                                        <span class="ui-icon ui-icon-pencil"></span>
                                                </a>
                                               								

                                    </td>-->
                                </tr> 
                	<?php	
								$i++;	
							}
						} else {
					?>
							<tr>
								<td colspan="5">No Record Found.</td>
							</tr>
					<?php		
						}
					?>	
                </tbody>
            </table>
            <div class="clear"></div>
         <!--   <div id="pager">
                <?php echo $this->element('adminElements/table_head'); ?>
            </div>-->
        </div>
        <div class="clear"></div>			
    </div>
    <div class="clear"></div>
            
